<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <a ng-class="{ active: $state.includes('home')}" href="" ng-click="$state.transitionTo('home')">Home</a>
          </li>
          <li>
            <a ng-class="{ active: $state.includes('organization') || $state.includes('organization-search') }" href="" ng-click="$state.transitionTo('organization-search.search')">Organizations</a>
          </li>
          <li>
            <a ng-class="{ active: $state.includes('dataset') || $state.includes('dataset-search') }" href="" ng-click="$state.transitionTo('dataset-search.search')">Datasets</a>
          </li>
          <li>
            <a ng-class="{ active: $state.includes('installation') || $state.includes('installation-search') }" href="" ng-click="$state.transitionTo('installation-search.search')">Installations</a>
          </li>
          <li>
            <a ng-class="{ active: $state.includes('node') || $state.includes('node-search') }" href="" ng-click="$state.transitionTo('node-search.search')">Nodes</a>
          </li>
        </ul>
        
        <ul class="nav pull-right">
          <li><form class="navbar-search pull-right" ng-submit="search(q)" ng-controller="SearchCtrl">
            <input type="text" class="search-query" placeholder="Search" ng-model="q"></input>
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </form></li>
          
          <!--li class="divider-vertical"></li>          
          <li class="dropdown">
            <a class="dropdown-toggle js-dropdown-toggle" href="#" id="user-dropdown-toggle" data-toggle="dropdown">
              <i class="nav-session"><span class="visuallyhidden">settings</span></i></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu account-summary avatar">
              <li>
                <a href="#">
                  <div class="settings-content">
                    <b class="fullname">Tim Robertson</b><br/> 
                    <small class="muted">Edit profile</small>
                  </div>
                </a>
              </li>
              <small class="text-error">Section not yet functional</small>
              <li class="divider"></li>
              <li>
                <a href="#">Help</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Settings</a>
              </li>
              <li>
                <a href="#" data-nav="logout">Sign out</a>
              </li>
            </ul>
          </li-->
          
          <li class="divider-vertical" ng-show="isLoggedIn"></li>
          <li><a href="" ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
        </ul>          
      </div>
    </div>
  </div>
</div>
  