<div class="span10 offset1 pagination-centered">
  <div class="row-fluid home-well">
    <h2 class="muted">Administrator login</h2>
    <p class="lead">
      A portal administrator account is required 
    </p>

<form id="login" novalidate class="form-horizontal">
    
    <div class="row">
      <div class="span6 offset2 pagination-centered">

  <fieldset class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input id="username" maxlength="255" type="text" name="username" ng-model="account.username">
      <p class="muted"><small>Must be an administrator account.</small></p>
    </div>      
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input id="password" maxlength="255" type="password" name="password" ng-model="account.password">
    </div>                 
  </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span6 offset3 pagination-centered">
      </div>
    </div>
    <div class="row">
      <div class="span6 offset3 pagination-centered">
        <input type="submit" class="btn primary-btn" ng-click="login(account)" value="Login"></input>
      </div>
    </div>
</form>    
    
  </div>
</div>
