<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.collections.CollectionMapper">

  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="COLLECTION_MAP" type="SciCollection" autoMapping="true">
    <id property="key" column="key"/>
    <result property="email" column="email" typeHandler="StringArrayTypeHandler"/>
    <result property="phone" column="phone" typeHandler="StringArrayTypeHandler"/>
    <result property="contentTypes" column="content_type" typeHandler="CollectionContentTypeArrayTypeHandler"/>
    <result property="preservationTypes" column="preservation_type" typeHandler="PreservationTypeArrayTypeHandler"/>
    <result property="incorporatedCollections" column="incorporated_collections" typeHandler="StringArrayTypeHandler"/>
    <result property="importantCollectors" column="important_collectors" typeHandler="StringArrayTypeHandler"/>
    <result property="collectionSummary" column="collection_summary" typeHandler="CollectionSummaryTypeHandler"/>
    <result property="alternativeCodes" column="alternative_codes" typeHandler="AlternativeCodesTypeHandler"/>
    <association property="address" column="address_key" select="listAddress" />
    <association property="mailingAddress" column="mailing_address_key" select="listAddress" />
    <collection property="contacts" column="key" select="listContacts"/>
    <collection property="tags" column="key" select="listTags"/>
    <collection property="identifiers" column="key" select="listIdentifiers"/>
    <collection property="machineTags" column="key" select="listMachineTags"/>
    <collection property="comments" column="key" select="listComments"/>
    <collection property="occurrenceMappings" column="key" select="listOccurrenceMappings"/>
  </resultMap>

  <resultMap id="COLLECTION_DTO_MAP" type="CollectionDto" autoMapping="true">
    <association property="collection" resultMap="COLLECTION_MAP" />
  </resultMap>

  <resultMap id="COLLECTION_MATCHED_DTO_MAP" type="CollectionMatchedDto" autoMapping="true">
    <id property="key" column="key"/>
  </resultMap>

  <sql id="COLLECTION_WRITE_FIELDS">
    key, code, name, description, content_type, active, personal_collection, doi, email, phone, homepage, catalog_url, api_url,
    preservation_type, accession_status, institution_key, mailing_address_key, address_key,
    created_by, modified_by, created, modified, index_herbariorum_record, number_specimens,
    taxonomic_coverage, geography, notes, incorporated_collections, important_collectors, collection_summary, alternative_codes
  </sql>

  <sql id="COLLECTION_READ_FIELDS">
    c.key, c.code, c.name, c.description, c.content_type, c.active, c.personal_collection, c.doi, c.email, c.phone, c.homepage,
    c.catalog_url, c.api_url, c.preservation_type, c.accession_status, c.institution_key, c.mailing_address_key,
    c.address_key, c.created_by, c.modified_by, c.created, c.modified, c.deleted, c.index_herbariorum_record, c.number_specimens,
    c.taxonomic_coverage, c.geography, c.notes, c.incorporated_collections, c.important_collectors, c.collection_summary, c.alternative_codes,
    c.replaced_by
  </sql>

  <sql id="COLLECTION_PARAMS_CREATE">
    #{key,jdbcType=OTHER},
    #{code,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR},
    #{contentTypes,jdbcType=ARRAY,typeHandler=CollectionContentTypeArrayTypeHandler},
    #{active,jdbcType=BOOLEAN},
    #{personalCollection,jdbcType=BOOLEAN},
    #{doi,jdbcType=VARCHAR},
    #{email,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    #{phone,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    #{homepage,jdbcType=VARCHAR},
    #{catalogUrl,jdbcType=VARCHAR},
    #{apiUrl,jdbcType=VARCHAR},
    #{preservationTypes,jdbcType=ARRAY,typeHandler=PreservationTypeArrayTypeHandler},
    #{accessionStatus,jdbcType=OTHER},
    #{institutionKey,jdbcType=OTHER},
    #{mailingAddress.key,jdbcType=INTEGER},
    #{address.key,jdbcType=INTEGER},
    #{createdBy,jdbcType=VARCHAR},
    #{modifiedBy,jdbcType=VARCHAR},
    now(), <!-- created -->
    now(), <!-- modified -->
    #{indexHerbariorumRecord,jdbcType=BOOLEAN},
    #{numberSpecimens,jdbcType=INTEGER},
    #{taxonomicCoverage,jdbcType=VARCHAR},
    #{geography,jdbcType=VARCHAR},
    #{notes,jdbcType=VARCHAR},
    #{incorporatedCollections,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    #{importantCollectors,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    #{collectionSummary,jdbcType=OTHER,typeHandler=CollectionSummaryTypeHandler}::hstore,
    #{alternativeCodes,jdbcType=OTHER,typeHandler=AlternativeCodesTypeHandler}::hstore
  </sql>

  <sql id="COLLECTION_PARAMS_UPDATE">
    code = #{code,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    content_type = #{contentTypes,jdbcType=ARRAY,typeHandler=CollectionContentTypeArrayTypeHandler},
    active = #{active,jdbcType=BOOLEAN},
    personal_collection = #{personalCollection,jdbcType=BOOLEAN},
    doi = #{doi,jdbcType=VARCHAR},
    email = #{email,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    phone = #{phone,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    homepage = #{homepage,jdbcType=VARCHAR},
    catalog_url = #{catalogUrl,jdbcType=VARCHAR},
    api_url = #{apiUrl,jdbcType=VARCHAR},
    preservation_type = #{preservationTypes,jdbcType=ARRAY,typeHandler=PreservationTypeArrayTypeHandler},
    accession_status = #{accessionStatus,jdbcType=OTHER},
    institution_key = #{institutionKey,jdbcType=OTHER},
    mailing_address_key = #{mailingAddress.key,jdbcType=INTEGER},
    address_key = #{address.key,jdbcType=INTEGER},
    modified_by = #{modifiedBy,jdbcType=VARCHAR},
    modified = now(), <!-- modified -->
    deleted = null, <!-- if we're updating it can't be deleted -->
    index_herbariorum_record = #{indexHerbariorumRecord,jdbcType=BOOLEAN},
    number_specimens = #{numberSpecimens,jdbcType=INTEGER},
    taxonomic_coverage = #{taxonomicCoverage,jdbcType=VARCHAR},
    geography = #{geography,jdbcType=VARCHAR},
    notes = #{notes,jdbcType=VARCHAR},
    incorporated_collections = #{incorporatedCollections,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    important_collectors = #{importantCollectors,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    collection_summary = #{collectionSummary,jdbcType=OTHER,typeHandler=CollectionSummaryTypeHandler}::hstore,
    alternative_codes = #{alternativeCodes,jdbcType=OTHER,typeHandler=AlternativeCodesTypeHandler}::hstore
  </sql>

  <sql id="FULLTEXT_SEARCH">
    JOIN to_tsquery('english',regexp_replace(quote_literal(unaccent(trim(#{params.query}))),'\s+',':*&amp;','g')||':*') AS query ON query @@ c.fulltext_search
  </sql>

  <insert id="create" parameterType="SciCollection">
    INSERT INTO collection(<include refid="COLLECTION_WRITE_FIELDS"/>)
    VALUES(<include refid="COLLECTION_PARAMS_CREATE"/>)
  </insert>

  <update id="update" parameterType="SciCollection">
    UPDATE collection
    SET <include refid="COLLECTION_PARAMS_UPDATE"/>
    WHERE key = #{key,jdbcType=OTHER}
  </update>

  <!-- For safety, should it be already deleted nothing is done -->
  <update id="delete">
    UPDATE collection
    SET deleted = now()
    WHERE key = #{key,jdbcType=OTHER} AND deleted IS NULL
  </update>

  <!--  Note: you can get entities which are deleted -->
  <select id="get" resultMap="COLLECTION_MAP">
    SELECT <include refid="COLLECTION_READ_FIELDS"/>
    FROM collection c
    WHERE c.key = #{key,jdbcType=OTHER}
  </select>

  <select id="getCollectionDto" resultMap="COLLECTION_DTO_MAP">
    SELECT <include refid="COLLECTION_READ_FIELDS"/>, inst.name institutionName, inst.code institutionCode
    FROM collection c
    LEFT JOIN institution inst ON inst.key = c.institution_key
    WHERE c.key = #{collectionKey,jdbcType=OTHER}
  </select>

  <select id="getInstitutionKey" resultType="java.util.UUID" >
    SELECT institution_key
    FROM collection
    WHERE key = #{collectionKey,jdbcType=OTHER}
  </select>

  <select id="listAddress" resultMap="org.gbif.registry.persistence.mapper.collections.AddressMapper.ADDRESS_MAP">
    SELECT <include refid="org.gbif.registry.persistence.mapper.collections.AddressMapper.ADDRESS_READ_FIELDS"/>
    FROM address
    WHERE key = #{key,jdbcType=OTHER}
  </select>

  <!-- Basic paging search functionality -->
  <select id="list" resultType="CollectionDto" resultMap="COLLECTION_DTO_MAP" parameterType="Pageable">
    SELECT DISTINCT ON (<if test="params.query != null" >ts_rank_cd(c.fulltext_search, query), </if>c.created, c.key)
          <include refid="COLLECTION_READ_FIELDS"/>, inst.name institutionName, inst.code institutionCode
    FROM collection c
    LEFT JOIN institution inst ON inst.key = c.institution_key
    <if test="params.query != null" >
      <include refid="FULLTEXT_SEARCH"/>
    </if>
    <if test="params.contactKey != null" >
      INNER JOIN collection_collection_person ccp on ccp.collection_key = c.key
    </if>
    <if test="params.machineTagNamespace != null || params.machineTagName != null || params.machineTagValue != null" >
      INNER JOIN collection_machine_tag cmt on cmt.collection_key = c.key
      INNER JOIN machine_tag mt on mt.key = cmt.machine_tag_key
    </if>
    <if test="params.identifierType != null || params.identifier != null" >
      INNER JOIN collection_identifier ci on ci.collection_key = c.key
      INNER JOIN identifier id on id.key = ci.identifier_key
    </if>
    WHERE c.deleted IS NULL
    <if test="params.institutionKey != null" >
      AND c.institution_key = #{params.institutionKey,jdbcType=OTHER}
    </if>
    <if test="params.contactKey != null" >
      AND ccp.collection_person_key = #{params.contactKey,jdbcType=OTHER}
    </if>
    <if test="params.code != null" >
      AND c.code = #{params.code,jdbcType=VARCHAR}
    </if>
    <if test="params.alternativeCode != null" >
      AND c.alternative_codes ?? #{params.alternativeCode,jdbcType=VARCHAR}
    </if>
    <if test="params.name != null" >
      AND c.name = #{params.name,jdbcType=VARCHAR}
    </if>
    <if test="params.machineTagNamespace != null" >
      AND mt.namespace = #{params.machineTagNamespace,jdbcType=VARCHAR}
    </if>
    <if test="params.machineTagName != null" >
      AND mt.name = #{params.machineTagName,jdbcType=VARCHAR}
    </if>
    <if test="params.machineTagValue != null" >
      AND mt.value = #{params.machineTagValue,jdbcType=VARCHAR}
    </if>
    <if test="params.identifierType != null" >
      AND id.type = #{params.identifierType,jdbcType=OTHER}
    </if>
    <if test="params.identifier != null" >
      AND id.identifier = #{params.identifier,jdbcType=VARCHAR}
    </if>
    ORDER BY <if test="params.query != null" >ts_rank_cd(c.fulltext_search, query) DESC, </if>c.created DESC, c.key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="count" resultType="Long">
    SELECT count(DISTINCT c.key)
    FROM collection c
    <if test="params.query != null" >
      <include refid="FULLTEXT_SEARCH"/>
    </if>
    <if test="params.contactKey != null" >
      INNER JOIN collection_collection_person ccp on ccp.collection_key = c.key
    </if>
    <if test="params.machineTagNamespace != null || params.machineTagName != null || params.machineTagValue != null" >
      INNER JOIN collection_machine_tag cmt on cmt.collection_key = c.key
      INNER JOIN machine_tag mt on mt.key = cmt.machine_tag_key
    </if>
    <if test="params.identifierType != null || params.identifier != null" >
      INNER JOIN collection_identifier ci on ci.collection_key = c.key
      INNER JOIN identifier id on id.key = ci.identifier_key
    </if>
    WHERE c.deleted IS NULL
    <if test="params.institutionKey != null" >
      AND c.institution_key = #{params.institutionKey,jdbcType=OTHER}
    </if>
    <if test="params.code != null" >
      AND c.code = #{params.code,jdbcType=VARCHAR}
    </if>
    <if test="params.alternativeCode != null" >
      AND c.alternative_codes ?? #{params.alternativeCode,jdbcType=VARCHAR}
    </if>
    <if test="params.name != null" >
      AND c.name = #{params.name,jdbcType=VARCHAR}
    </if>
    <if test="params.contactKey != null" >
      AND ccp.collection_person_key = #{params.contactKey,jdbcType=OTHER}
    </if>
    <if test="params.machineTagNamespace != null" >
      AND mt.namespace = #{params.machineTagNamespace,jdbcType=VARCHAR}
    </if>
    <if test="params.machineTagName != null" >
      AND mt.name = #{params.machineTagName,jdbcType=VARCHAR}
    </if>
    <if test="params.machineTagValue != null" >
      AND mt.value = #{params.machineTagValue,jdbcType=VARCHAR}
    </if>
    <if test="params.identifierType != null" >
      AND id.type = #{params.identifierType,jdbcType=OTHER}
    </if>
    <if test="params.identifier != null" >
      AND id.identifier = #{params.identifier,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="deleted" resultType="CollectionDto"  resultMap="COLLECTION_DTO_MAP" parameterType="Pageable">
    SELECT <include refid="COLLECTION_READ_FIELDS"/>, inst.name institutionName, inst.code institutionCode
    FROM collection c
    LEFT JOIN institution inst ON inst.key = c.institution_key
    WHERE c.deleted IS NOT NULL
    ORDER BY c.created DESC, c.key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countDeleted" resultType="Long">
    SELECT count(*)
    FROM collection
    WHERE deleted IS NOT NULL
  </select>

  <select id="listContacts" resultMap="org.gbif.registry.persistence.mapper.collections.PersonMapper.COLLECTION_PERSON_MAP">
    SELECT <include refid="org.gbif.registry.persistence.mapper.collections.PersonMapper.PERSON_READ_FIELDS"/>
    FROM collection_person p INNER JOIN collection_collection_person ON collection_person_key = p.key
    WHERE collection_key = #{key,jdbcType=OTHER}
    ORDER BY created ASC
  </select>

  <insert id="addContact">
    INSERT INTO collection_collection_person(collection_key,collection_person_key)
    VALUES(
    #{entityKey,jdbcType=OTHER},
    #{personKey,jdbcType=OTHER}
    )
  </insert>

  <delete id="removeContact">
    DELETE FROM collection_collection_person
    WHERE
    collection_key = #{entityKey,jdbcType=OTHER} AND collection_person_key = #{personKey,jdbcType=INTEGER}
  </delete>

  <!-- LOOKUP -->
  <sql id="LOOKUP_MATCH_FIELDS">
    c.key, c.name, c.code, c.institution_key, c.address_key, c.mailing_address_key
  </sql>

  <select id="lookup" resultMap="COLLECTION_MATCHED_DTO_MAP">
    SELECT matches.*, i.code institutionCode, i.name institutionName, addr.country addressCountry, mailing_addr.country mailingAddressCountry
    FROM (
    <trim prefixOverrides="UNION ALL">
      <if test="key != null" >
        SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
        1 AS key_match, 0 AS identifier_match, 0 AS name_match_with_identifier, 0 AS code_match, 0 AS alternative_code_match,
        0 AS name_match_with_code, 0 AS explicit_mapping
        FROM collection c
        WHERE c.key = #{key,jdbcType=OTHER} AND c.deleted is null
      </if>
      <if test="identifier != null" >
        UNION ALL
          SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
          0 AS key_match, 1 AS identifier_match, 0 AS name_match_with_identifier, 0 AS code_match, 0 AS alternative_code_match,
          0 AS name_match_with_code, 0 AS explicit_mapping
          FROM collection c
          INNER JOIN collection_identifier ci ON ci.collection_key = c.key
          INNER JOIN identifier id ON ci.identifier_key = id.key
          WHERE normalize_identifier(id.identifier) = normalize_identifier(#{identifier,jdbcType=VARCHAR}) AND c.deleted is null
        UNION ALL
          SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
          0 AS key_match, 0 AS identifier_match, 1 AS name_match_with_identifier, 0 AS code_match, 0 AS alternative_code_match,
          0 AS name_match_with_code, 0 AS explicit_mapping
          FROM collection c
          WHERE normalize_name(c.name) = normalize_name(#{identifier,jdbcType=VARCHAR}) AND c.deleted is null
      </if>
      <if test="code != null" >
        UNION ALL
          SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
          0 AS key_match, 0 AS identifier_match, 0 AS name_match_with_identifier, 1 AS code_match, 0 AS alternative_code_match,
          0 AS name_match_with_code, 0 AS explicit_mapping
          FROM collection c
          WHERE c.code = #{code,jdbcType=VARCHAR} AND c.deleted is null
        UNION ALL
          SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
          0 AS key_match, 0 AS identifier_match, 0 AS name_match_with_identifier, 0 AS code_match, 1 AS alternative_code_match,
          0 AS name_match_with_code, 0 AS explicit_mapping
          FROM collection c
          WHERE c.alternative_codes ?? #{code,jdbcType=VARCHAR} AND c.deleted is null
        UNION ALL
          SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
          0 AS key_match, 0 AS identifier_match, 0 AS name_match_with_identifier, 0 AS code_match, 0 AS alternative_code_match,
          1 AS name_match_with_code, 0 AS explicit_mapping
          FROM collection c
          WHERE normalize_name(c.name) = normalize_name(#{code,jdbcType=VARCHAR}) AND c.deleted is null
      </if>
      <if test="datasetKey != null">
        UNION ALL
          SELECT DISTINCT ON (c.key) <include refid="LOOKUP_MATCH_FIELDS"/>,
          0 AS key_match, 0 AS identifier_match, 0 AS name_match_with_identifier, 0 AS code_match, 0 AS alternative_code_match,
          0 AS name_match_with_code, 1 AS explicit_mapping
          FROM collection c
          INNER JOIN collection_occurrence_mapping com ON com.collection_key = c.key
          INNER JOIN occurrence_mapping om ON om.key = com.occurrence_mapping_key
          WHERE c.deleted is null AND om.dataset_key = #{datasetKey,jdbcType=OTHER}
          <if test="code != null"> AND (om.code IS NULL OR om.code = #{code,jdbcType=VARCHAR})</if>
          <if test="identifier != null"> AND (om.identifier IS NULL OR om.identifier = #{identifier,jdbcType=VARCHAR})</if>
      </if>
    </trim>) AS matches
    LEFT JOIN institution i ON i.key = matches.institution_key
    LEFT JOIN address addr ON addr.key = matches.address_key
    LEFT JOIN address mailing_addr ON mailing_addr.key = matches.mailing_address_key
  </select>

  <!-- TAGS -->
  <insert id="addTag">
    INSERT INTO collection_tag(collection_key,tag_key)
    VALUES(
    #{targetEntityKey,jdbcType=OTHER},
    #{tagKey,jdbcType=INTEGER}
    )
  </insert>

  <select id="listTags" resultType="Tag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.TagMapper.TAG_FIELDS"/>
    FROM tag INNER JOIN collection_tag ON tag_key = key
    WHERE collection_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>

  <!-- Joined delete of tag to trigger cascade delete of the join table -->
  <delete id="deleteTag">
    DELETE FROM tag USING collection_tag
    WHERE
    tag_key = tag.key AND
    collection_key = #{targetEntityKey,jdbcType=OTHER} AND tag_key = #{tagKey,jdbcType=INTEGER}
  </delete>
  <!-- END TAGS -->

  <!-- IDENTIFIERS -->
  <insert id="addIdentifier">
    INSERT INTO collection_identifier(collection_key,identifier_key)
    VALUES(
    #{targetEntityKey,jdbcType=OTHER},
    #{identifierKey,jdbcType=INTEGER}
    )
  </insert>

  <select id="listIdentifiers" resultType="Identifier">
    SELECT <include refid="org.gbif.registry.persistence.mapper.IdentifierMapper.IDENTIFIER_FIELDS"/>
    FROM identifier INNER JOIN collection_identifier ON identifier_key = key
    WHERE collection_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>

  <!-- Joined delete of identifier to trigger cascade delete of the join table -->
  <delete id="deleteIdentifier">
    DELETE FROM identifier USING collection_identifier
    WHERE
    identifier_key = identifier.key AND
    collection_key = #{targetEntityKey,jdbcType=OTHER} AND identifier_key = #{identifierKey,jdbcType=INTEGER}
  </delete>

  <!-- we don't want to return deleted collections in the identifier resolver -->
  <select id="findByIdentifier" resultType="java.util.UUID">
    SELECT c.key
    FROM collection c
    INNER JOIN collection_identifier ci ON ci.collection_key = c.key
    INNER JOIN identifier i ON i."key" = ci.identifier_key
    WHERE regexp_replace(i.identifier, 'http://', '') = regexp_replace(#{identifier,jdbcType=VARCHAR}, 'http://', '')
      AND c.deleted IS NULL;
  </select>
  <!-- END IDENTIFIERS -->

  <!-- MACHINE TAGS -->
  <insert id="addMachineTag">
    INSERT INTO collection_machine_tag(collection_key,machine_tag_key)
    VALUES(
    #{targetEntityKey,jdbcType=OTHER},
    #{machineTagKey,jdbcType=INTEGER}
    )
  </insert>

  <select id="listMachineTags" resultType="MachineTag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.MachineTagMapper.MACHINETAG_FIELDS"/>
    FROM machine_tag INNER JOIN collection_machine_tag ON machine_tag_key = key
    WHERE collection_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY namespace
  </select>

  <!-- Joined delete of machine_tag to trigger cascade delete of the join table -->
  <delete id="deleteMachineTag">
    DELETE FROM machine_tag USING collection_machine_tag
    WHERE
    machine_tag_key = machine_tag.key AND
    collection_key = #{targetEntityKey,jdbcType=OTHER} AND machine_tag_key = #{machineTagKey,jdbcType=INTEGER}
  </delete>

  <delete id="deleteMachineTags">
    DELETE FROM machine_tag USING collection_machine_tag
    WHERE
    machine_tag_key = machine_tag.key AND
    collection_key = #{targetEntityKey,jdbcType=OTHER} AND
    namespace = #{namespace}
    <if test="name != null" >
      AND name = #{name}
    </if>
  </delete>

  <select id="listByMachineTag" resultMap="COLLECTION_MAP" parameterType="Pageable">
    SELECT DISTINCT ON (c.key) <include refid="COLLECTION_READ_FIELDS"/>
    FROM collection c
    INNER JOIN collection_machine_tag cm ON cm.collection_key = c.key
    INNER JOIN machine_tag m ON cm.machine_tag_key = m.key
    WHERE m.namespace = #{namespace,jdbcType=VARCHAR}
    <if test="name != null" >
      AND m.name=#{name,jdbcType=VARCHAR}
      <if test="value != null" >
        AND m.value=#{value,jdbcType=VARCHAR}
      </if>
    </if>
    ORDER BY c.key, c.created DESC
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByMachineTag" resultType="Long">
    SELECT count(DISTINCT c.key)
    FROM collection c
    INNER JOIN collection_machine_tag cm ON cm.collection_key = c.key
    INNER JOIN machine_tag m ON cm.machine_tag_key = m.key
    WHERE m.namespace = #{namespace,jdbcType=VARCHAR}
    <if test="name != null" >
      AND m.name=#{name,jdbcType=VARCHAR}
      <if test="value != null" >
        AND m.value=#{value,jdbcType=VARCHAR}
      </if>
    </if>
  </select>
  <!-- END MACHINE TAGS -->

  <!-- Simple suggest -->
  <select id="suggest" resultType="org.gbif.api.model.registry.search.collections.KeyCodeNameResult">
    SELECT key,code,name FROM (
    (SELECT key,code,name FROM collection WHERE code ilike #{q}||'%' ORDER BY code LIMIT 20)
    UNION ALL
    (SELECT key,code,name FROM collection WHERE name ilike #{q}||'%' ORDER BY name LIMIT 20)
    UNION ALL
    (SELECT key,code,name FROM collection WHERE code ilike '%'||#{q}||'%' AND NOT code ilike #{q}||'%' ORDER BY code LIMIT 20)
    UNION ALL
    (SELECT key,code,name FROM collection WHERE name ilike '%'||#{q}||'%' AND NOT name ilike #{q}||'%' ORDER BY name LIMIT 20)
    ) t1 LIMIT 20
  </select>

  <!-- COMMENTS -->
  <insert id="addComment">
    INSERT INTO collection_comment(collection_key,comment_key)
    VALUES(
      #{targetEntityKey,jdbcType=OTHER},
      #{commentKey,jdbcType=INTEGER}
    )
  </insert>

  <select id="listComments" resultType="org.gbif.api.model.registry.Comment">
    SELECT <include refid="org.gbif.registry.persistence.mapper.CommentMapper.COMMENT_FIELDS"/>
    FROM comment
    INNER JOIN collection_comment ON comment_key = key
    WHERE collection_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>

  <!-- Joined delete of comment to trigger cascade delete of the join table -->
  <delete id="deleteComment">
    DELETE FROM comment USING collection_comment
    WHERE
    comment_key = comment.key AND
    collection_key = #{targetEntityKey,jdbcType=OTHER} AND comment_key = #{commentKey,jdbcType=INTEGER}
  </delete>
  <!-- END COMMENTS -->

  <!-- OCCURRENCE MAPPINGS -->
  <insert id="addOccurrenceMapping">
    INSERT INTO collection_occurrence_mapping(collection_key, occurrence_mapping_key)
    VALUES(
    #{targetEntityKey,jdbcType=OTHER},
    #{occurrenceMappingKey,jdbcType=INTEGER}
    )
  </insert>

  <update id="deleteOccurrenceMapping">
    DELETE FROM occurrence_mapping USING collection_occurrence_mapping
    WHERE
    occurrence_mapping_key = occurrence_mapping.key
    AND collection_key = #{targetEntityKey,jdbcType=OTHER}
    AND occurrence_mapping_key = #{occurrenceMappingKey,jdbcType=INTEGER}
  </update>

  <select id="listOccurrenceMappings" resultType="org.gbif.api.model.collections.OccurrenceMapping">
    SELECT <include refid="org.gbif.registry.persistence.mapper.collections.OccurrenceMappingMapper.OCCURRENCE_MAPPING_FIELDS"/>
    FROM occurrence_mapping
    INNER JOIN collection_occurrence_mapping  iom ON iom.occurrence_mapping_key = key
    WHERE iom.collection_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>
  <!-- END EXPLICIT MAPPINGS -->

  <!-- MERGE -->
  <update id="replace">
    UPDATE collection
    SET deleted = now(),
    replaced_by = #{replacementKey,jdbcType=OTHER}
    WHERE key = #{targetEntityKey,jdbcType=OTHER} AND deleted IS NULL
  </update>

  <update id="moveIdentifier">
    UPDATE collection_identifier
    SET collection_key = #{targetEntityKey,jdbcType=OTHER}
    WHERE collection_key = #{sourceEntityKey,jdbcType=OTHER}
    AND identifier_key = #{identifierKey,jdbcType=INTEGER}
  </update>

  <update id="moveMachineTag">
    UPDATE collection_machine_tag
    SET collection_key = #{targetEntityKey,jdbcType=OTHER}
    WHERE collection_key = #{sourceEntityKey,jdbcType=OTHER}
    AND machine_tag_key = #{machineTagKey,jdbcType=INTEGER}
  </update>

  <update id="moveOccurrenceMapping">
    UPDATE collection_occurrence_mapping
    SET collection_key = #{targetEntityKey,jdbcType=OTHER}
    WHERE collection_key = #{sourceEntityKey,jdbcType=OTHER}
    AND occurrence_mapping_key = #{occurrenceMappingKey,jdbcType=INTEGER}
  </update>
  <!-- END MERGE -->
</mapper>
