<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.collections.MasterSourceSyncMetadataMapper">

  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="ADDRESS_MAP" type="org.gbif.api.model.collections.MasterSourceMetadata" autoMapping="true">
    <id property="key" column="key"/>
  </resultMap>

  <sql id="METADATA_WRITE_FIELDS">
    source, source_id, created, created_by
  </sql>

  <sql id="METADATA_READ_FIELDS">
    m.key, m.source, m.source_id, m.created, m.created_by
  </sql>

  <sql id="METADATA_PARAMS_CREATE">
    #{source,jdbcType=OTHER},
    #{sourceId,jdbcType=VARCHAR},
    now(),
    #{createdBy,jdbcType=VARCHAR}
  </sql>

  <insert id="create" parameterType="org.gbif.api.model.collections.MasterSourceMetadata" useGeneratedKeys="true"
          keyProperty="key" keyColumn="key">
    INSERT INTO master_sync_metadata(<include refid="METADATA_WRITE_FIELDS"/>)
    VALUES(<include refid="METADATA_PARAMS_CREATE"/>)
  </insert>

  <delete id="delete">
    DELETE FROM master_sync_metadata WHERE key = #{key,jdbcType=INTEGER}
  </delete>

</mapper>
