<h4>{{$state.current.heading}}</h4> 
<div class="muted"><small>Comments allow administrators to leave context about communications with publishers etc.</small></div>  

<a href="" ng-click="editing = true">create new</a>
<form ng-show="editing" novalidate class="form-horizontal">  
  <fieldset ng-show="editing" novalidate class="control-group">
    <label class="control-label" for="content">Content</label>
    <div class="controls">
      <textarea rows="4" name="namespace" type="text" ng-model="comment.content"></textarea>
      <p class="muted"><small>Commentary should be written with consideration, using language suitable for any public forum and not containing sensitive details.<br/>
      <strong>Only use of plain text is supported - no XML, JSON etc</strong>.</small></p>
    </div>      
          
    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(comment)" type="submit">Save</button>
    </div>            
  </fieldset>  
</form>

<hr/>    
<ul class="unstyled list-hover" ng-ctrl="ContactCtrl">
  <div data-ng-repeat="comment in comments">
    <li>
      {{comment.content}} <br/>
      <span class="muted"><small>Created {{comment.created | timeAgo}} by {{comment.createdBy || "anonymous"}}</small></span>
      <small><a ng-click="delete(comment)" class="pull-right" href="">Delete this comment</a></small>
    </li>
   </div>
 </ul>