<h4>{{$state.current.heading}}</h4>
<div class="muted"><small>Multi value fields position, email, phone, homepage and address are indicated by * and use the semicolon as the delimiter.</small></div>

<a href="" ng-click="createNew = true">create new</a>
<form ng-show="createNew==true" novalidate class="form-horizontal">
  <ng-include src=" 'app/common/contact-form.tpl.html'"></ng-include>
</form>
<hr/>
<ul class="unstyled list-hover" ng-ctrl="ContactCtrl">
  <div data-ng-repeat="contact in contacts">
    <li ng-hide="contact.editMode==true" ng-click="contact.editMode=true">
      <strong><a href="">{{contact.firstName}} {{contact.lastName}}</a></strong> <span class="muted"><small>{{contact.type | prettifyContactType}}</small></span><br/>
      <span class="muted"><small>Created {{contact.created | timeAgo}} by {{contact.createdBy || "anonymous"}}</small></span>
      <small><a ng-click="delete(contact)" class="pull-right" href="">Delete this contact</a></small>
    </li>

    <li ng-show="contact.editMode==true">
      <form novalidate class="form-horizontal">
        <ng-include src=" 'app/common/contact-form.tpl.html'"></ng-include>
      </form>
    </li>
   </div>
 </ul>