<fieldset novalidate class="control-group">

      <label class="control-label" for='type'>Type</label>
      <div class="controls">
        <select ng-model="contact.type" ng-options="t | prettifyContactType for t in contactTypes">
            <option style="display:none" value="">Select a type</option>
        </select>
      </div>

      <label class='control-label' for='primary'>Primary</label>
      <div class='controls'>
        <label class="checkbox">
            <input type="checkbox" id="primary" value="contact.primary" ng-checked="contact.primary" ng-model="contact.primary">
            <small class='muted'>Indicates that the contact is the primary contact for the given type</small>
        </label>
      </div>

      <label class="control-label" for="firstname">First name</label>
	  <div class="controls">
	    <input maxlength="255" id="firstname" type="text" ng-model="contact.firstName">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="lastname">Last name</label>
	  <div class="controls">
	    <input maxlength="255" id="lastname" type="text" ng-model="contact.lastName">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="position">* Position</label>
	  <div class="controls">
	    <input maxlength="255" id="position" type="text" ng-model="contact.position" ng-list=";">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="description">Description</label>
	  <div class="controls">
	    <input maxlength="255" id="description" type="text" ng-model="contact.description">
	    <p class="muted"><small></small></p>
	  </div>

    <label class="control-label" for="email">* Email</label>
    <div class="controls">
      <input maxlength="255" id="email" type="text" ng-model="contact.email" ng-list=";">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="phone">* Phone</label>
      <div class="controls">
        <input maxlength="255" id="phone" type="text" ng-model="contact.phone" ng-list=";">
        <p class="muted"><small></small></p>
      </div>

    <label class="control-label" for="homepage">* Homepage</label>
    <div class="controls">
      <input maxlength="255" id="homepage" type="text" ng-model="contact.homepage" ng-list=";">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="organization">Organization</label>
	  <div class="controls">
	    <input maxlength="255" id="organization" type="text" ng-model="contact.organization">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="address">* Address</label>
	  <div class="controls">
	    <input maxlength="255" id="address" type="text" ng-model="contact.address" ng-list=";">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="city">City</label>
	  <div class="controls">
	    <input maxlength="255" id="city" type="text" ng-model="contact.city">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="province">Province</label>
	  <div class="controls">
	    <input maxlength="255" id="province" type="text" ng-model="contact.province">
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for='country'>Country</label>
	  <div class="controls">
        <select ng-model="contact.country" ng-options="c | prettifyCountry for c in countries">
          <option style="display:none" value="">Select a country</option>
        </select>
	    <p class="muted"><small></small></p>
	  </div>

	  <label class="control-label" for="postalCode">Postal code</label>
	  <div class="controls">
	    <input maxlength="255" id="postalCode" type="text" ng-model="contact.postalCode">
	    <p class="muted"><small></small></p>
	  </div>

	<div class="form-actions">
	  <button class="btn primary-btn" ng-click="close()">Cancel</button>
	  <button class="btn primary-btn" ng-click="save(contact)" type="submit">Save</button>
	</div>

</fieldset>
