<h4>{{$state.current.heading}}</h4>

<a href="" ng-click="editing = true">create new</a>
<form ng-show="editing" novalidate class="form-horizontal">


  <fieldset ng-show="editing" novalidate class="control-group">
    <label class="control-label" for="type">Type</label>
    <div class="controls">
      <select ng-model="endpoint.type" ng-options="t for t in types">
        <option style="display:none" value="">Select a type</option>
      </select>
    </div>

    <label class="control-label" for="url">URL</label>
    <div class="controls">
      <input maxlength="255" name="url" type="text" ng-model="endpoint.url">
    </div>

    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <input maxlength="255" name="description" type="text" ng-model="endpoint.description">
    </div>

    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(endpoint)" type="submit">Save</button>
    </div>
  </fieldset>
</form>

<hr/>
<ul class="unstyled list-hover" ng-ctrl="EndpointCtrl">
  <div data-ng-repeat="endpoint in endpoints">
    <li>
      <strong><a href="">{{endpoint.url}}</a></strong> <span class="muted">{{endpoint.type}}</span></br/>
      <div show="endpoint.description">{{endpoint.description}}</div>
      <span class="muted"><small>Created {{endpoint.created | timeAgo}} by {{endpoint.createdBy || "anonymous"}}</small></span>
      <small><a ng-click="delete(endpoint)" class="pull-right" href="">Delete this endpoint</a></small>

      <div class="muted" ng-show="endpoint.machineTags.length==0">No machine tags</div>
      <div class="row" ng-show="endpoint.machineTags.length>0">
        <div class="span6 offset1">
          <ul class="unstyled"  data-ng-repeat="machineTag in endpoint.machineTags">
            <li class="muted">
              {{machineTag.name}} = {{machineTag.value}} <br/>
              <em>{{machineTag.namespace}}</em><br/>
              <small>Created {{machineTag.created | timeAgo}} by {{machineTag.createdBy || "anonymous"}}</small>
            </li>
          </ul>
        </div>
      </div>
    </li>
   </div>
 </ul>
