<h4>{{$state.current.heading}}</h4> 

<a href="" ng-click="editing = true">create new</a>
<form ng-show="editing" novalidate class="form-horizontal">
  <fieldset ng-show="editing" novalidate class="control-group">
    <label class="control-label" for="identifier">Identifier</label>
    <div class="controls">
      <input maxlength="255" name="value" type="text" ng-model="identifier.identifier">
      <p class="muted"><small>The value for the identifier (e.g. <em>doi://12.123/123</em>).</small></p>
    </div>
    
    <label class="control-label" for="type">Type</label>
    <div class="controls">
      <select ng-model="identifier.type" ng-options="t for t in types"></select>
      <p class="muted"><small>Select the type of the identifier.</small></p>
    </div>
    
    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(identifier)" type="submit">Save</button>
    </div>            
  </fieldset>
  
  
</form>

<hr/>    
<ul class="unstyled list-hover" ng-ctrl="IdentifierCtrl">
  <div data-ng-repeat="identifier in identifiers">
    <li>
      <strong><a href="">{{identifier.identifier}}</a></strong> <span class="muted"><small>{{identifier.type | lowercase}}</small></span><br/>
      <span class="muted"><small>Created {{identifier.created | timeAgo}} by {{identifier.createdBy || "anonymous"}}</small></span>
      <small><a ng-click="delete(identifier)" class="pull-right" href="">Delete this identifier</a></small>
    </li>
   </div>
 </ul>