<h4>{{$state.current.heading}}</h4> 
<hr/>    
<ul class="unstyled list-hover">
  <div data-ng-repeat="installation in installations">
    <li ng-click=" $state.transitionTo('installation.detail', {key:installation.key})">
      <strong><a href="">{{installation.title}}</a></strong> <span class="muted"><small>{{installation.type | lowercase}}</small></span>
      <span class="muted pull-right"><small>Edited {{installation.modified | timeAgo}}</small></span><br/>
      <span class="muted"><small>Created {{installation.created | timeAgo}} by {{installation.createdBy || "anonymous"}}</small></span>
    </li>
   </div>
 </ul>