<h4>{{$state.current.heading}}</h4>
<div class="muted"><small>Machine tags are intended for applications to store information about an entity.
A machine tag is essentially a name/value pair, that is categorised in a namespace.  The 3 parts may be used as the application sees fit.</small></div>

<a href="" ng-click="editing = true">create new</a>
<form ng-show="editing" novalidate class="form-horizontal">


  <fieldset ng-show="editing" novalidate class="control-group">
    <label class="control-label" for="namespace">Namespace</label>
    <div class="controls">
      <input maxlength="255" name="namespace" type="text" ng-model="machineTag.namespace">
      <p class="muted"><small>The namespace is a category for the name/value pair tag.  It may be used to distinguish groupings (e.g. <em>crawling</em>, <em>processing</em>) or to declare a true term namespace  (e.g. <em>dwc</em>)</small></p>
    </div>

    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input maxlength="255" name="name" type="text" ng-model="machineTag.name">
      <p class="muted"><small>The name for the tag (e.g. <em>basisOfRecord</em>, <em>type</em>).</small></p>
    </div>

    <label class="control-label" for="value">Value</label>
    <div class="controls">
      <input maxlength="255" name="value" type="text" ng-model="machineTag.value">
      <p class="muted"><small>The value for the tag (e.g. <em>Living specimen</em>, <em>MANIS</em>).</small></p>
    </div>

    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(machineTag)" type="submit">Save</button>
    </div>
  </fieldset>
</form>

<hr/>
<ul class="unstyled list-hover" ng-ctrl="MachinetagCtrl">
  <div data-ng-repeat="machineTag in machineTags">
    <li>
      <strong><a href="">{{machineTag.name}}</a></strong> <span class="muted">=</span> <strong><a href="">{{machineTag.value}}</a></strong> <br/><em><span class="muted">{{machineTag.namespace}}</span></em><br/>
      <span class="muted"><small>Created {{machineTag.created | timeAgo}} by {{machineTag.createdBy || "anonymous"}}</small></span>
      <small><a ng-click="delete(machineTag)" class="pull-right" href="">Delete this machine tag</a></small>
    </li>
   </div>
 </ul>
