<h4>{{$state.current.heading}}</h4> 
<hr/>    
<ul class="unstyled list-hover"> 
  <div data-ng-repeat="organization in getOrganizations()">
    <li ng-click=" $state.transitionTo('organization.detail', {key:organization.key})">
      <strong><a href="">{{organization.title}}</a></strong>
      <span class="muted pull-right"><small>Edited {{organization.modified | timeAgo}}</small></span><br/>
      <span class="muted"><small>Created {{organization.created | timeAgo}} by {{organization.createdBy || "anonymous"}}</small></span>
    </li>
   </div>
 </ul>