<h4>{{$state.current.heading}}</h4> 

<a href="" ng-click="editing = true">create new</a>
<form ng-show="editing" novalidate class="form-horizontal">
  <fieldset ng-show="editing" novalidate class="control-group">
    <label class="control-label" for="value">Value</label>
    <div class="controls">
      <input maxlength="255" name="value" type="text" ng-model="tag.value">
      <p class="muted"><small>The value for the tag (e.g. <em>Arthropod pitfall trap</em>).</small></p>
    </div>
    
    <div class="form-actions">
      <button class="btn primary-btn" ng-click="editing = false">Cancel</button>
      <button class="btn primary-btn" ng-click="save(tag)" type="submit">Save</button>
    </div>            
  </fieldset>
</form>

<hr/>    
<ul class="unstyled list-hover" ng-ctrl="TagCtrl">
  <div data-ng-repeat="tag in tags">
    <li>
      <strong><a href="">{{tag.value}}</a></strong> <br/>
      <span class="muted"><small>Created {{tag.created | timeAgo}} by {{tag.createdBy || "anonymous"}}</small></span>
      <small><a ng-click="delete(tag)" class="pull-right" href="">Delete this tag</a></small>
    </li>
   </div>
 </ul>