<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <property name="defaultPattern" value="%-5level [%date{'yyyy-dd-MM HH:mm:ss,SSSZ'}] [%thread] %logger: %msg%n%xEx"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
    <remoteHost>b6g8.gbif.org</remoteHost>
    <port>10819</port>
    <reconnectionDelay>10000</reconnectionDelay>
    <includeCallerData>false</includeCallerData>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <!--<appender-ref ref="SOCKET"/>-->
  </root>

</configuration>
