<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.surety.ChallengeCodeMapper">

  <resultMap id="CHALLENGE_CODE_MAP" type="org.gbif.api.model.ChallengeCode" >
    <id column="key" property="key" />
    <result column="challenge_code" property="code" />
    <result column="data" property="data" />
  </resultMap>

  <sql id="WRITABLE_FIELDS">
    challenge_code,data,created
  </sql>

  <sql id="WRITABLE_FIELD_TYPES">
    #{code,jdbcType=OTHER},
    #{data,jdbcType=OTHER},
    now() <!-- created -->
  </sql>

  <sql id="COMMENT_FIELDS">
    key,<include refid="org.gbif.registry.persistence.mapper.CommentMapper.WRITABLE_COMMENT_FIELDS"/>
  </sql>

  <insert id="createChallengeCode" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO challenge_code(<include refid="WRITABLE_FIELDS"/>)
    VALUES(<include refid="WRITABLE_FIELD_TYPES"/>)
  </insert>

  <select id="getChallengeCode" resultType="java.util.UUID" >
    SELECT challenge_code FROM challenge_code WHERE key = #{key}
  </select>

  <select id="getChallengeCodeObject" resultMap="CHALLENGE_CODE_MAP" resultType="org.gbif.api.model.ChallengeCode">
    SELECT key,challenge_code,data FROM challenge_code WHERE key = #{key}
  </select>

  <delete id="deleteChallengeCode">
    DELETE FROM challenge_code WHERE key = #{key}
  </delete>

</mapper>
