<div class="span4">

  <ul class="nav side-nav nav-tabs nav-stacked">
    <li ng-class="{'active': type=='organization'}"><a href="" ng-click="setType('organization')">Organizations <span ng-show="organizations">({{organizations.count}})</span> <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{'active': type=='dataset'}"><a href="" ng-click="setType('dataset')">Datasets <span ng-show="datasets">({{datasets.count}})</span> <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{'active': type=='installation'}"><a href="" ng-click="setType('installation')">Installations <span ng-show="installations">({{installations.count}})</span> <i class="icon-chevron-right"></i></a></li>
    <li ng-class="{'active': type=='node'}"><a href="" ng-click="setType('node')">Nodes <span ng-show="nodes">({{nodes.count}})</span> <i class="icon-chevron-right"></i></a></li>
  </ul>

</div>
<div class="span8">
  <div class="content">

<span ng-show="type=='organization'">{{organizations.count}} {{organizationsLabel}}</span>
<span ng-show="type=='dataset'">{{datasets.count}} {{datasetsLabel}}</span>
<span ng-show="type=='installation'">{{installations.count}} {{installationsLabel}}</span>
<span ng-show="type=='node'">{{nodes.count}} {{nodesLabel}}</span> 
matching <strong><em>{{q}}</em></strong>

<div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="search-toggle"></i>
      </a>
      <ul class="dropdown-menu">
          <small class="text-error">Not yet functional</small>
          <li><a>Most recently modified first</a></li>
          <li><a>Most recently created first</a></li>
          <li><a>Alphabetically ordered by title</a></li>
      </ul>
  </div>
  <br/><br/>   

<div ng-show="type=='organization'">
  <h4>Organizations</h4> 
  <hr/>    
  <ul class="unstyled list-hover">
    <div data-ng-repeat="organization in organizations.results">
      <li ng-click="viewItem(organization, 'organization')">
        <strong><a href="">{{organization.title}}</a></strong> <span class="muted pull-right"><small>Edited {{organization.modified | timeAgo}}</small></span><br/>
        {{organization.description}}<br/>
        <span class="muted"><small>Created {{organization.created | timeAgo}} by {{organization.createdBy || "anonymous"}}</small></span>
      </li>
    </div>
  </ul>
  <ul class="pager">
    <li><a href="#">Load more results <small class="text-error"> not yet functional</small></a></li>
  </ul>
</div>

<div ng-show="type=='dataset'">
  <h4>Datasets</h4> 
  <hr/>    
  <ul class="unstyled list-hover">
    <div data-ng-repeat="dataset in datasets.results">
      <li ng-click="viewItem(dataset, 'dataset')">
        <strong><a href="">{{dataset.title}}</a></strong> <span class="muted"><small>{{dataset.type | lowercase}} dataset</small></span> <span class="muted pull-right"><small>Edited {{dataset.modified | timeAgo}}</small></span><br/>
        {{dataset.description}}<br/>
        <span class="muted"><small>Created {{dataset.created | timeAgo}} by {{dataset.createdBy || "anonymous"}}</small></span>
      </li>
    </div>
  </ul>
  <ul class="pager">
    <li><a href="#">Load more results <small class="text-error"> not yet functional</small></a></li>
  </ul>
</div>

<div ng-show="type=='installation'">
  <h4>Installations</h4> 
  <hr/>    
  <ul class="unstyled list-hover">
    <div data-ng-repeat="installation in installations.results">
      <li ng-click="viewItem(installation, 'installation')">
        <strong><a href="">{{installation.title}}</a></strong> <span class="muted"><small>{{installation.type | lowercase}}</small></span> <span class="muted pull-right"><small>Edited {{installation.modified | timeAgo}}</small></span><br/>
        <span class="muted"><small>Created {{installation.created | timeAgo}} by {{installation.createdBy || "anonymous"}}</small></span>
      </li>
    </div>
  </ul>
  <ul class="pager">
    <li><a href="#">Load more results <small class="text-error"> not yet functional</small></a></li>
  </ul>
</div>

<div ng-show="type=='node'">
  <h4>Nodes</h4> 
  <hr/>    
  <ul class="unstyled list-hover">
    <div data-ng-repeat="node in nodes.results">
      <li ng-click="viewItem(node, 'node')">
        <strong><a href="">{{node.title}}</a></strong> <span class="muted"><small>a {{node.participationStatus | lowercase}} {{node.type | lowercase}} participant</small></span> <span class="muted pull-right"><small>Edited {{node.modified | timeAgo}}</small></span><br/>
        {{node.description}}<br/>
        <span class="muted"><small>Created {{node.created | timeAgo}} by {{node.createdBy || "anonymous"}}</small></span>
      </li>
    </div>
  </ul>
  <ul class="pager">
    <li><a href="#">Load more results <small class="text-error"> not yet functional</small></a></li>
  </ul>
</div>
    


  </div>
</div>