<h4>Node overview</h4>
<p class="muted">This information appears on the node profile, organization pages, search results, and beyond.</p>
<hr/>
<p ng-show="node.deleted!=null">
  <span class="label label-important">Important</span> <span class="text-error">This node was deleted {{node.deleted | timeAgo}} by {{node.modifiedBy}}.<span><br/>
  <small class="muted">{{node.deleted}}</small>
</p>

<dl class="dl-horizontal spaced-list">
  <dt>Title</dt>
  <dd>{{node.title}}</dd>
  <dt>Type</dt>
  <dd>{{node.type}}</dd>
  <dt>Participant status</dt>
  <dd>{{node.participationStatus}}</dd>
  <dt>GBIF Region</dt>
  <dd>{{node.gbifRegion}}</dd>
  <dt>Country</dt>
  <dd>{{node.country | prettifyCountry}}</dd>
  <dt>Continent</dt>
  <dd>{{node.continent}}</dd>
  <dt>Created</dt>
  <dd>{{node.created | timeAgo}} <br/><small class="muted">{{node.created}}</small></dd>
  <dt>Created by</dt>
  <dd>{{node.createdBy}}</dd>
  <dt>Modified</dt>
  <dd>{{node.modified | timeAgo}} <br/><small class="muted">{{node.modified}}</small></dd>
  <dt>Modified by</dt>
  <dd>{{node.modifiedBy}}</dd>
</dl>
<div class="form-actions" ng-show="node.deleted==null">
  <small><a href="" ng-click="transitionTo('edit')">Edit these details</a></small>
</div>      

<div class="form-actions" ng-show="node.deleted!=null">
    <small><a href="" data-target="#restoreConfirm" data-toggle="modal">Restore this node</a></small>
      <p><small class="muted">Will make this eligible for endorsements etc.</small></p>
    </div>
    <div id="restoreConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Restore?</h3>
      </div>
      <div class="modal-body">
        <p><span class="label label-important">Important</span> <span class="text-error">Restoring a previously deleted entity will likely trigger significant processing<span></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="restore(node)">Yes, restore it!</button>
      </div>
    </div>
</div>      