<h4>Node overview</h4>
<p class="muted">This information appears on the node profile, organization pages, search results, and beyond.<p/>
<p>
  <span class="label label-important">Important</span> <span class="text-error">Content should appear as found in the GBIF internal systems, such as the IMS.</span>
</p>

<p class="pull-right" ng-show="advancedMode != true">
  <a href="" ng-click="advancedMode = true"><small>Enable advanced editing mode</small></a>
</p>
<hr/>
<br/>

<form id="nodeEdit" novalidate class="form-horizontal">
  <fieldset class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input id="title" maxlength="255" type="text" name="title" ng-model="node.title" value="{{node.title}}">
      <p class="muted"><small>Enter an accurate node title as it is used in many key places.</small></p>
    </div>      
      
    <span ng-show="advancedMode">  
    <label class="control-label" for="type">Type</label>
    <div class="controls">
      <select ng-model="node.type" ng-options="o for o in types"></select>
      <p class="muted"><small>Please verify IMS is the same</small></p>
    </div>
      
    <label class="control-label" for="participationStatus">Participation Status</label>
    <div class="controls">
      <select ng-model="node.participationStatus" ng-options="o for o in participationStatuses"></select>
      <p class="muted"><small>This is used for reporting purposes (e.g. occurrence counts in ad hoc reporting)</small></p>
    </div>
      
    <label class="control-label" for="gbifRegion">GBIF Region</label>
    <div class="controls">
      <select ng-model="node.gbifRegion" ng-options="o for o in gbifRegions">
        <option style="display:none" value="">select a region</option>
      </select>
      <p class="muted"><small>This is used for reporting purposes</small></p>
    </div>
      
    <label class="control-label" for="continent">Continent</label>
    <div class="controls">
      <select ng-model="node.continent" ng-options="o for o in continents">
        <option style="display:none" value="">select a continent</option>
      </select>
      <p class="muted"><small>This is used for reporting purposes</small></p>
    </div>
      
    <label class="control-label" for="country">Country</label>
    <div class="controls">
      <select ng-model="node.country" ng-options="o | prettifyCountry for o in countries">
        <option style="display:none" value="">select a country</option>
      </select>
      <p class="muted"><small>This is used for reporting purposes</small></p>
    </div>
    </span>
      
    <div class="form-actions">
      <button class="btn primary-btn" ng-click="cancelEdit()">Cancel</button>
      <button class="btn primary-btn" ng-click="save(node)" type="submit">Save changes</button>
    </div>   
    <div class="form-actions" ng-show="advancedMode">
      <small><a href="" data-target="#deleteConfirm" data-toggle="modal">Delete this node</a></small>
      <p><small class="muted">A deletion may be reverted at a later date</small></p>
    </div>
    <div id="deleteConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Delete?</h3>
      </div>
      <div class="modal-body">
        <p><span class="label label-important">Important</span> <span class="text-error">While a deletion may be undone, it will likely trigger significant processing</span></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="delete(node)">Yes, delete it!</button>
      </div>
    </div>    
  </fieldset>
</form>