<div class="span4">
    
  <div class="well">
    <form ng-submit="$state.transitionTo('node-search.search')">
      <input type="text" class="search-query" placeholder="Search nodes" ng-model="q"></input>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" ng-click="search(q)"/>
      <small class="muted"> Find an node to edit or <a href="" ng-click="$state.transitionTo('node-search.create')">create a new one</a></small>
    </form>
  </div>
</div>
<div class="span8">
  <div class="content" ui-view></div>
</div>