<h4>User overview</h4>
<p class="muted">This information appears on the user profile.<p/>

<hr/>
<br/>

<form id="userEdit" novalidate class="form-horizontal">
  <fieldset class="control-group">
    <label class="control-label" for="title">Username</label>
    <div class="controls">
      <input id="userName" maxlength="255" type="text" name="userName" ng-model="user.userName" value="{{user.userName}}">
      <p class="muted"><small>You can log in using a username or an email address.</small></p>
    </div>

    <label class="control-label" for="type">First name</label>
    <div class="controls">
      <input id="firstName" maxlength="255" type="text" name="firstName" ng-model="user.firstName" value="{{user.firstName}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="type">Last name</label>
    <div class="controls">
      <input id="lastName" maxlength="255" type="text" name="lastName" ng-model="user.lastName" value="{{user.lastName}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="type">E-mail address</label>
    <div class="controls">
      <input id="email" maxlength="255" type="text" name="email" ng-model="user.email" value="{{user.email}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="country">Country</label>
    <div class="controls">
      <select ng-model="user.country" ng-options="o | prettifyCountry for o in countries">
        <option style="display:none" value="">select a country</option>
      </select>
      <p class="muted"><small>This is used for reporting purposes</small></p>
    </div>

    <div class="form-actions">
      <button class="btn primary-btn" ng-click="cancelEdit()">Cancel</button>
      <button class="btn primary-btn" ng-click="save(user)" type="submit">Save changes</button>
    </div>
    <div class="form-actions">
      <small><a href="" data-target="#deleteConfirm" data-toggle="modal">Delete this user</a></small>
      <p><small class="muted">A deletion may be reverted at a later date</small></p>
    </div>
    <div id="deleteConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Delete?</h3>
      </div>
      <div class="modal-body">
        <p><span class="label label-important">Important</span> <span class="text-error">A deletion may be undone if required</span></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="delete(user)">Yes, delete it!</button>
      </div>
    </div>
  </fieldset>
</form>
