<h4>User overview</h4>
<hr/>
<p ng-show="user.deleted!=null">
  <span class="label label-important">Important</span> <span class="text-error">This user was deleted {{user.deleted | timeAgo}}.<span><br/>
  <small class="muted">{{user.deleted}}</small>
</p>

<dl class="dl-horizontal spaced-list">
  <dt>Username</dt>
  <dd>{{user.userName}}</dd>
  <dt>Email</dt>
  <dd>{{user.email}}</dd>
  <dt>First Name</dt>
  <dd>{{user.firstName}}</dd>
  <dt>Last Name</dt>
  <dd>{{user.lastName}}</dd>

  <dt>Last Login</dt>
  <dd><br/><small class="muted">{{user.lastLogin}}</small></dd>

  <div class="clearfix">
  <dt>Settings</dt>
  <dd ng-repeat="(key, value) in user.settings">
    {{key}} => {{value}}
  </dd>
  </div>

  <!--only display roles that we can map-->
  <div class="clearfix">
  <dt>Roles</dt>
  <dd ng-repeat="(key, value) in user_roles" ng-if="value===true">
    {{key}}
  </dd>
  </div>

  <dt ng-if="unmapped_user_roles.length !== 0">Unmapped Roles</dt>
  <dd ng-repeat="role in unmapped_user_roles">
    {{role}}
  </dd>
</dl>

<div class="form-actions">
  <small><a href="" ng-click="transitionTo('edit')">Edit these details</a></small>
</div>

<div class="form-actions" ng-show="user.deleted!=null">
    <small><a href="" data-target="#restoreConfirm" data-toggle="modal">Restore this user</a></small>
      <p><small class="muted">Will make the user eligible to login again</small></p>
    </div>
    <div id="restoreConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Restore?</h3>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="restore(user)">Yes, restore it!</button>
      </div>
    </div>
</div>
