<h4 ng-hide="organization.key == undefined">Organization overview</h4>
<h4 ng-show="organization.key == undefined">Create a new Organization</h4>
<p class="muted"><small>This information appears on the organization profile, organization pages, search results, and beyond.  It should be the same as found in the GBIF internal systems, such as the IMS</small></p>
<p class="muted"><small>Multi value fields position, email, phone, homepage and address are indicated by * and use the semicolon as the delimiter.</small></p>
<p class="pull-right" ng-show="advancedMode != true && organization.key != undefined">
  <a href="" ng-click="advancedMode = true"><small>Enable advanced editing mode</small></a>
</p>
<hr/>
<br/>

<form id="organizationEdit" novalidate class="form-horizontal">
  <fieldset class="control-group">

    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input id="title" maxlength="255" type="text" name="title" ng-model="organization.title" value="{{organization.title}}">
      <p class="muted"><small>Enter an accurate organization title as it is used in many key places.</small></p>
    </div>

    <label class="control-label" for="abbreviation">Abbreviation</label>
    <div class="controls">
      <input id="abbreviation" maxlength="255" type="text" name="abbreviation" ng-model="organization.abbreviation" value="{{organization.abbreviation}}">
      <p class="muted"><small>TODO: explain what this is</small></p>
    </div>

    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <textarea rows="4" id="description" name="description" ng-model="organization.description" value="{{organization.description}}"></textarea>
      <p class="muted"><small></small></p>
    </div>

    <span ng-show="advancedMode || organization.key == undefined">
    <label class="control-label" for="endorsingNodeKey">Endorsing node</label>
    <div class="controls">
      <input id="endorsingNodeKey" maxlength="255" type="text" name="endorsingNodeKey" ng-model="organization.endorsingNodeKey" value="{{organization.endorsingNodeKey}}">
      <span class="label label-important">Important</span>
      <p class="muted"><small>The node that has verified the organization should publish through GBIF</small></p>
    </div>

    <label class="control-label" for="endorsementApproved">Endorsement approved</label>
    <div class="controls">
      <select id="endorsementApproved" name="endorsementApproved" ng-model="organization.endorsementApproved">
        <option>true</option>
        <option>false</option>
      </select>
      <span class="label label-important">Important</span>
      <p class="muted"><small>Has the endorsement been approved?</small></p>
    </div>

    </span>

    <label class="control-label" for="homepage">* Homepage</label>
    <div class="controls">
      <input id="homepage" maxlength="255" type="text" name="homepage" ng-model="organization.homepage" value="{{organization.homepage}}" ng-list=";">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="logoUrl">Logo url</label>
    <div class="controls">
      <input id="logoUrl" maxlength="255" type="text" name="logoUrl" ng-model="organization.logoUrl" value="{{organization.logoUrl}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="language">Language</label>
    <div class="controls">
      <input id="language" maxlength="255" type="text" name="language" ng-model="organization.language" value="{{organization.language}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="address">* Address</label>
    <div class="controls">
      <input id="address" maxlength="255" type="text" name="address" ng-model="organization.address" value="{{organization.address}}" ng-list=";">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="city">City</label>
    <div class="controls">
      <input id="city" maxlength="255" type="text" name="city" ng-model="organization.city" value="{{organization.city}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="title">Province</label>
    <div class="controls">
      <input id="province" maxlength="255" type="text" name="province" ng-model="organization.province" value="{{organization.province}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for='country'>Country</label>
    <div class="controls">
      <select ng-model="organization.country" ng-options="c | prettifyCountry for c in countries">
        <option style="display:none" value="">Select a country</option>
      </select>
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="postalCode">Postal code</label>
    <div class="controls">
      <input id="postalCode" maxlength="255" type="text" name="postalCode" ng-model="organization.postalCode" value="{{organization.postalCode}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="email">* Email</label>
    <div class="controls">
      <input id="email" maxlength="255" type="text" name="email" ng-model="organization.email" value="{{organization.email}}" ng-list=";">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="phone">* Phone</label>
    <div class="controls">
      <input id="phone" maxlength="255" type="text" name="phone" ng-model="organization.phone" value="{{organization.phone}}" ng-list=";">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="latitude">Latitude</label>
    <div class="controls">
      <input id="latitude" maxlength="255" type="text" name="latitude" ng-model="organization.latitude" value="{{organization.latitude}}">
      <p class="muted"><small></small></p>
    </div>

    <label class="control-label" for="longitude">Longitude</label>
    <div class="controls">
      <input id="longitude" maxlength="255" type="text" name="longitude" ng-model="organization.longitude" value="{{organization.longitude}}">
      <p class="muted"><small></small></p>
    </div>

    <div class="form-actions">
      <button class="btn primary-btn" ng-click="cancelEdit()">Cancel</button>
      <button class="btn primary-btn" ng-click="save(organization)" type="submit">Save changes</button>
    </div>
    <div class="form-actions" ng-show="advancedMode">
      <small><a href="" data-target="#deleteConfirm" data-toggle="modal">Delete this organization</a></small>
      <p><small class="muted">A deletion may be reverted at a later date</small></p>
    </div>
    <div id="deleteConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Delete?</h3>
      </div>
      <div class="modal-body">
        <p><span class="label label-important">Important</span> <span class="text-error">While a deletion may be undone, it will likely trigger significant processing</span></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="delete(organization)">Yes, delete it!</button>
      </div>
    </div>
  </fieldset>
</form>