<div class="span4">
    
  <div class="well">
    <form ng-submit="$state.transitionTo('organization-search.search')">
      <input type="text" class="search-query" placeholder="Search organizations" ng-model="q"></input>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" ng-click="search(q)"/>
      <small class="muted"> Find an organization to edit or <a href="" ng-click="$state.transitionTo('organization-search.create')">create a new one</a></small>
    </form>
  </div>

  <p class="quicklinks">Quick links</p>
  <ul class="nav side-nav nav-tabs nav-stacked">
    <li ng-class="{active: $state.includes('organization-search.deleted')}"><a href="" ng-click="$state.transitionTo('organization-search.deleted')">Deleted organizations ({{deletedCount}})<i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('organization-search.pending')}"><a href="" ng-click="$state.transitionTo('organization-search.pending')" ng-class="{'alert-error':pendingCount>0}"><i ng-show="pendingCount>0" class="icon-warning-sign"></i> Pending endorsements ({{pendingCount}})<i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('organization-search.nonPublishing')}"><a href="" ng-click="$state.transitionTo('organization-search.nonPublishing')" ng-class="{'alert-error':nonPublishingCount>0}"><i ng-show="nonPublishingCount>0" class="icon-warning-sign"></i> Non publishing organizations ({{nonPublishingCount}})<i class="icon-chevron-right"></i></a></li>
  </ul>
</div>
<div class="span8">
  <div class="content" ui-view></div>
</div>