<h4>Organization overview</h4>
<button class="btn btn-small btn-primary pull-right" type="button" data-target="#retrievePasswordConfirm" ng-click="retrievePassword()" data-toggle="modal">Retrieve password</button>
<p class="muted">This information appears on the organization profile, organization pages, search results, and beyond.</p>
<hr/>
<p ng-show="organization.deleted!=null">
  <span class="label label-important">Important</span> <span class="text-error">This organization was deleted {{organization.deleted | timeAgo}} by {{organization.modifiedBy}}.<span><br/>
  <small class="muted">{{organization.deleted}}</small>
</p>
<dl class="dl-horizontal spaced-list">
  <dt>Title</dt>
  <dd>{{organization.title}}</dd>
  <dt>Abbreviation</dt>
  <dd>{{organization.abbreviation}}</dd>
  <dt>Description</dt>
  <dd>{{organization.description}}</dd>
  <dt>Endorsing node</dt>
  <dd>
    <a href="" ng-click="openNode(organization.endorsingNodeKey)">{{organization.node.title}}</a>
    <span ng-show="organization.endorsementApproved" class="label label-success">approved</span>
    <span ng-show="!organization.endorsementApproved" class="label label-important">awaiting approval</span>
  </dd>
  <dt>Homepage</dt>
  <dd ng-repeat="homepage in organization.homepage"><a href="{{homepage}}" target="_blank">{{homepage}}</a></dd>
  <dt>Logo url</dt>
  <dd>{{organization.logoUrl}}</dd>
  <dt>Language</dt>
  <dd>{{organization.language}}</dd>
  <dt>Address</dt>
  <dd ng-repeat="address in organization.address">{{address}}</dd>
  <dt>City</dt>
  <dd>{{organization.city}}</dd>
  <dt>Province</dt>
  <dd>{{organization.province}}</dd>
  <dt>Country</dt>
  <dd>{{organization.country | prettifyCountry}}</dd>
  <dt>Postal code</dt>
  <dd>{{organization.postalCode}}</dd>
  <dt>Email</dt>
  <dd ng-repeat="email in organization.email">{{email}}</dd>
  <dt>Phone</dt>
  <dd ng-repeat="phone in organization.phone">{{phone}}</dd>
  <dt>Latitude</dt>
  <dd>{{organization.latitude}}</dd>
  <dt>Longitude</dt>
  <dd>{{organization.longitude}}</dd>
  <dt>Created</dt>
  <dd>{{organization.created | timeAgo}} <br/><small class="muted">{{organization.created}}</small></dd>
  <dt>Created by</dt>
  <dd>{{organization.createdBy}}</dd>
  <dt>Modified</dt>
  <dd>{{organization.modified | timeAgo}} <br/><small class="muted">{{organization.modified}}</small></dd>
  <dt>Modified by</dt>
  <dd>{{organization.modifiedBy}}</dd>

</dl>
<div class="form-actions" ng-show="organization.deleted==null">
  <small><a href="" ng-click="transitionTo('edit')">Edit these details</a></small>
</div>
<div class="form-actions" ng-show="organization.deleted!=null">
    <small><a href="" data-target="#restoreConfirm" data-toggle="modal">Restore this organization</a></small>
      <p><small class="muted">Will make this eligible for endorsements etc.</small></p>
    </div>
    <div id="restoreConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Restore?</h3>
      </div>
      <div class="modal-body">
        <p><span class="label label-important">Important</span> <span class="text-error">Restoring a previously deleted entity will likely trigger significant processing<span></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="restore(organization)">Yes, restore it!</button>
      </div>
    </div>
</div>
<div id="retrievePasswordConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Organization password</h3>
    </div>
    <div class="modal-body">
        <p>{{password}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
    </div>
</div>