{{pendingCount}} organizations pending endorsement
<hr/>    
<ul class="unstyled list-hover">
  <li data-ng-repeat="organization in pending" ng-click="openOrganization(organization)">
    <strong><a href="">{{organization.title}}</a></strong> <span class="muted pull-right"><small>Edited {{organization.modified | timeAgo}}</small></span><br/>
    <span class="muted"><small>Created {{organization.created | timeAgo}} by {{organization.createdBy || "anonymous"}}</small></span>
  </li>
</ul>
<ul class="pager">
  <li><a href="#">Load more results <small class="text-error"> not yet functional</small></a></li>
</ul>