body {
  /* navbar + 20px */
  padding-top: 60px; 
  background: url("../img/map.png") repeat-x;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%) no-repeat,  url('../img/map.png') repeat-x;
  background-color: #cccccc;
  background-attachment: fixed;
  height: 100%; 
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 4px 10px 4px 10px;
  margin: 0 0 10px 0; 
  border: 1px solid #ddd;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

/* Only used on home, with no padding for alignment */
.home-well {
  margin: 50px 0 77px 0;
  padding: 50px 0 50px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

div.home-well a:hover {
  text-decoration: none;
}

div.home-well div.summary {
  cursor: pointer;
  background-color: #e5f5fa;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}


.white {
  background-color: #fff !important;
}

.content hr {
  margin: 0 -10px 0 -10px;
}

.content .form-actions {
  margin: 0 -10px 0 -10px; 
  padding-left: 190px; /* compensate for the margin */
  background-color: #fff;
}

fieldset, form, .form-horizontal .control-group {
  margin-bottom: 0px;
}

.quicklinks {
  color: #fff;
}

dl.spaced-list dd {
  margin-bottom: 10px;
}
.list-hover li {
  padding: 10px 10px 10px 10px;
  margin: 0 -10px 0 -10px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}
.list-hover li:hover {
  background-color: #f5f5f5;
}

.page {
  background: rgba(255,255,255,0.1);
  margin: -20px;
  padding: 20px;
  height: 100%; 
}

/* Empty DD need a height - fix for bootstrap */
.dl-horizontal dd {
  min-height: 20px;
}

/* Override bootstrap for menu */
.nav > li > a.active {
  color: #ffffff;
}

a.active {
  color: #ffffff;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  font-weight: bold;
}
.nav > li > a:hover {
  background-color: #ffffff;
}
.side-nav > li > a {
  background-color: #f9f9f9;
}

h1,h2,h3,h4,h5 {
  margin-bottom: 0px;
}

/* Side bar navgation overrides */
.side-nav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.side-nav .active .icon-chevron-right,
.side-nav .active a:hover .icon-chevron-right {
  opacity: .75;
}
.side-nav a:hover .icon-chevron-right {
  opacity: .5;
}

/* setup drop down icon for buttons from twitter */
i.search-toggle {
  background: url("../img/twitter_web_sprite_icons.png");
  background-position: -90px -430px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin-top: 1px;
  text-transform: none;
  vertical-align: text-top;
  width: 23px;
}
ul.dropdown-menu li {
  font-size: 12px;
}
i.nav-session {
  background-image: url("../img/twitter_web_sprite_icons.png");
  background-position: -160px -50px;
  background-repeat: no-repeat;
  cursor: auto;
  display: block;
  float: left;
  height: 21px;
  line-height: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: -4px;
  vertical-align: text-top;
  width: 20px;  
}
.open i.nav-session {
  background-position: -160px -80px;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.size32 {
  height: 32px;
}
.account-summary .avatar {
  position: absolute;
  top: 5px;
  left: 20px;
}
.settings-content {
  margin-left:42px;
  line-height: 14px;
}
.settings-content small {
  font-size: 11px;
}

/**  OLD STUFF */


div.tag:hover {
  background-color: #f9f9f9;
  
}

input.input-multi-inline {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}

textarea.detail {
   background-color: #f9f9f9;
   width: 90%;
   height: 600px;
   font-family: courier;
   font-size: 12px;
}

div.dataTables_length label {
	float: right;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: left;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin-bottom: 6px !important;
	clear: both;
}

table.dataTable th:active {
	outline: none;
}

table.dataTable td.info_row { 
  background-color: #FCF8E3 !important;
  padding-left: 20px;
}

table.dataTable td.url { 
  width: 200px;
  word-wrap: break-word;
  overflow: hidden;  
  max-width: 200px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
table.table tbody {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

.dataTables_processing {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 400px;
	height: 30px;
	margin-left: -200px;
	margin-top: -15px;
	text-align: center;
	color: #0088CC;
	z-index: 10000;
}