{{nonPublishingCount}} installations publishing no datasets 
<hr/>    
<ul class="unstyled list-hover">
  <li data-ng-repeat="installation in nonPublishing" ng-click="openInstallation(installation)">
    <strong><a href="">{{installation.title}}</a></strong> <span class="muted pull-right"><small>Edited {{installation.modified | timeAgo}}</small></span><br/>
    <span class="muted"><small>Created {{installation.created | timeAgo}} by {{installation.createdBy || "anonymous"}}</small></span>
  </li>
</ul>
<ul class="pager">
  <li><a href="#">Load more results <small class="text-error"> not yet functional</small></a></li>
</ul>