<div class="span4">
    
  <div class="well">
    <form ng-submit="$state.transitionTo('installation-search.search')">
      <input type="text" class="search-query" placeholder="Search installations" ng-model="q"></input>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" ng-click="search(q)"/>
      <small class="muted"> Find an installation to edit or <a href="" ng-click="$state.transitionTo('installation-search.create')">create a new one</a></small>
    </form>
  </div>
  
  <p class="quicklinks">Quick links</p>
  <ul class="nav side-nav nav-tabs nav-stacked">
    <li ng-class="{active: $state.includes('installation-search.deleted')}"><a href="" ng-click="$state.transitionTo('installation-search.deleted')">Deleted installations ({{deletedCount}})<i class="icon-chevron-right"></i></a></li>
    <li ng-class="{active: $state.includes('installation-search.nonPublishing')}"><a href="" ng-click="$state.transitionTo('installation-search.nonPublishing')" ng-class="{'alert-error':nonPublishingCount>0}"><i ng-show="nonPublishingCount>0" class="icon-warning-sign"></i> Serving no datasets ({{nonPublishingCount}})<i class="icon-chevron-right"></i></a></li>
  </ul>
  
</div>
<div class="span8">
  <div class="content" ui-view></div>
</div>