<h4>Installation overview</h4>
<button class="btn btn-small btn-primary pull-right" type="button" data-target="#syncConfirm" data-toggle="modal">Synchronize now</button>
<p class="muted">This information appears on the installation profile, organization pages, search results, and beyond.</p>

<div class="alert alert-block" ng-show="installation.deleted!=null" >
  <strong>Important</strong>: This installation was deleted {{installation.deleted | timeAgo}} by {{installation.modifiedBy}}<br/>
  <small class="muted">{{installation.deleted}}</small></br>
</div>
<div class="alert alert-block" ng-show="installation.disabled" >
  <strong>Important</strong>: This installation is disabled and no auto updates will occur<br/>
</div>
<hr/>

<dl class="dl-horizontal spaced-list">
  <dt>Installation type</dt>
  <dd><span class="label label-success">{{installation.type | prettifyType}}</span></dd>
  <dt>Publishing organization</dt>
  <dd>
    <a href="" ng-click="openOrganization(installation.organizationKey)">{{installation.organization.title}}</a>
  </dd>
  <dt>Title</dt>
  <dd>{{installation.title}}</dd>
  <dt>Description</dt>
  <dd>{{installation.description}}</dd>
  <dt>Created</dt>
  <dd>{{installation.created | timeAgo}} <br/><small class="muted">{{installation.created}}</small></dd>
  <dt>Created by</dt>
  <dd>{{installation.createdBy}}</dd>
  <dt>Modified</dt>
  <dd>{{installation.modified | timeAgo}} <br/><small class="muted">{{installation.modified}}</small></dd>
  <dt>Modified by</dt>
  <dd>{{installation.modifiedBy}}</dd>
</dl>
<div class="form-actions" ng-show="installation.deleted==null">
  <small><a href="" ng-click="transitionTo('edit')">Edit these details</a></small>
</div>
<div class="form-actions" ng-show="installation.deleted!=null">
    <small><a href="" data-target="#restoreConfirm" data-toggle="modal">Restore this installation</a></small>
      <p><small class="muted">Will make this eligible for harvesting etc.</small></p>
    </div>
    <div id="restoreConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title">Restore?</h3>
      </div>
      <div class="modal-body">
        <p><span class="label label-important">Important</span> <span class="text-error">Restoring a previously deleted entity will likely trigger significant processing<span></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="restore(installation)">Yes, restore it!</button>
      </div>
    </div>
</div>
<div id="syncConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="title">Confirm?</h3>
  </div>
  <div class="modal-body">
    <p><span class="label label-important">Important</span> <span class="text-error">This will trigger a metadata synchronization with the installation, which may update the registry<span></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="synchronize(installation)">Yes, synchronize it!</button>
  </div>
</div>

