<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.CitationMapper">

  <sql id="CITATION_FIELDS">
    doi,original_download_doi,citation,title,target,registration_date,created,created_by,modified,modified_by
  </sql>

  <sql id="CITATION_FIELD_TYPES">
    #{citation.doi,jdbcType=OTHER},
    #{citation.originalDownloadDOI,jdbcType=OTHER},
    #{citation.citation,jdbcType=VARCHAR},
    #{citation.title,jdbcType=VARCHAR},
    #{citation.target,jdbcType=VARCHAR},
    #{citation.registrationDate,jdbcType=TIMESTAMP},
    now(), <!-- created -->
    #{citation.createdBy},
    now(), <!-- modified -->
    #{citation.modifiedBy}
  </sql>

  <resultMap id="CITATION_DATA_MAP" type="org.gbif.registry.domain.ws.Citation">
    <result property="doi" column="doi" javaType="org.gbif.api.model.common.DOI" typeHandler="org.gbif.registry.persistence.mapper.handler.DOITypeHandler"/>
    <result property="originalDownloadDOI" column="original_download_doi" javaType="org.gbif.api.model.common.DOI" typeHandler="org.gbif.registry.persistence.mapper.handler.DOITypeHandler"/>
    <result property="citation" column="citation" javaType="java.lang.String"/>
    <result property="title" column="title" javaType="java.lang.String"/>
    <result property="target" column="target" javaType="java.net.URI" typeHandler="org.gbif.mybatis.type.UriTypeHandler"/>
    <result property="registrationDate" column="registration_date" javaType="java.util.Date"/>
    <result property="created" column="created" javaType="java.util.Date"/>
    <result property="createdBy" column="created_by" javaType="java.lang.String"/>
    <result property="modified" column="modified" javaType="java.util.Date"/>
    <result property="modifiedBy" column="modified_by" javaType="java.lang.String"/>
  </resultMap>

  <insert id="create" parameterType="org.gbif.registry.domain.ws.Citation">
    INSERT INTO citation(<include refid="CITATION_FIELDS"/>)
    VALUES(<include refid="CITATION_FIELD_TYPES"/>)
  </insert>

  <select id="get" resultType="org.gbif.registry.domain.ws.Citation" resultMap="CITATION_DATA_MAP">
    SELECT <include refid="CITATION_FIELDS"/>
    FROM citation
    WHERE doi = #{doi,jdbcType=OTHER}
  </select>

  <insert id="addCitationDatasets">
    INSERT INTO dataset_citation (
    WITH
    dataset_usages(dataset_key, record_count) AS
    ((VALUES
    <foreach item="value" index="key" collection="citationMap" open="(" separator="),(" close=")">
      cast(#{key} as uuid),#{value}
    </foreach>
    ))
    SELECT dataset.key, dataset.doi, record_count, #{citationDoi} as citation_doi
    FROM dataset
    JOIN dataset_usages ON dataset.key = dataset_usages.dataset_key);
  </insert>

  <select id="listByRegistrationDate" resultMap="CITATION_DATA_MAP" parameterType="java.util.Date">
    SELECT <include refid="CITATION_FIELDS"/>
    FROM citation c
    WHERE c.registration_date::date = #{registrationDate,jdbcType=TIMESTAMP}::date
  </select>

  <select id="listByDataset" resultMap="CITATION_DATA_MAP" parameterType="org.gbif.api.model.common.paging.Pageable">
    SELECT <include refid="CITATION_FIELDS"/>
    FROM dataset_citation dc
    JOIN citation c ON c.doi = dc.citation_doi
    WHERE dc.dataset_key_or_doi = #{datasetKey,jdbcType=OTHER}
    ORDER BY created DESC
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByDataset" resultType="Long">
    SELECT count(*)
    FROM dataset_citation dc
    WHERE dc.dataset_key_or_doi = #{datasetKey,jdbcType=OTHER}
  </select>

  <select id="listByCitation" resultMap="org.gbif.registry.persistence.mapper.DatasetMapper.DATASET_MAP" parameterType="org.gbif.api.model.common.paging.Pageable">
    SELECT <include refid="org.gbif.registry.persistence.mapper.DatasetMapper.DATASET_FIELDS"/>
    FROM dataset_citation dc
    JOIN dataset d ON d.doi = dc.dataset_key_or_doi OR cast(d.key as text) = dc.dataset_key_or_doi
    LEFT JOIN organization o ON o.key = d.publishing_organization_key
    WHERE dc.citation_doi = #{citationDoi,jdbcType=OTHER}
    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByCitation" resultType="Long">
    SELECT count(*)
    FROM dataset_citation dc
    WHERE dc.citation_doi = #{citationDoi,jdbcType=OTHER}
  </select>

</mapper>
