<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.DatasetOccurrenceDownloadMapper">

  <resultMap id="DATASET_OCCURRENCE_DOWNLOAD_MAP" type="org.gbif.api.model.registry.DatasetOccurrenceDownloadUsage" autoMapping="false">
    <id property="downloadKey" column="download_key"/>
    <id property="datasetKey" column="dataset_key"/>
    <result property="datasetTitle" column="dataset_title"/>
    <result property="datasetDOI" column="dataset_doi"/>
    <result property="datasetCitation" column="dataset_citation"/>
    <result property="numberRecords" column="number_records"/>
    <association property="download" javaType="org.gbif.api.model.occurrence.Download" resultMap="org.gbif.registry.persistence.mapper.OccurrenceDownloadMapper.OCCURRENCE_DOWNLOAD_MAP"/>
  </resultMap>

  <resultMap id="DATASET_OCCURRENCE_OMIT_DOWNLOAD_MAP" type="org.gbif.api.model.registry.DatasetOccurrenceDownloadUsage" autoMapping="false">
    <id property="downloadKey" column="download_key"/>
    <id property="datasetKey" column="dataset_key"/>
    <result property="datasetTitle" column="dataset_title"/>
    <result property="datasetDOI" column="dataset_doi"/>
    <result property="datasetCitation" column="dataset_citation"/>
    <result property="numberRecords" column="number_records"/>
    <!-- The download is null -->
  </resultMap>

  <sql id="DATASET_OCCURRENCE_DOWNLOAD_FIELDS">
    download_key,dataset_key,dataset_title,dataset_doi,dataset_citation,number_records
  </sql>

  <select id="listByDataset" resultMap="DATASET_OCCURRENCE_DOWNLOAD_MAP" parameterType="map">
    SELECT <include refid="DATASET_OCCURRENCE_DOWNLOAD_FIELDS"/>,<include refid="org.gbif.registry.persistence.mapper.OccurrenceDownloadMapper.OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM dataset_occurrence_download JOIN occurrence_download od ON download_key = od.key
    WHERE dataset_key = #{datasetKey,jdbcType=OTHER}
    <if test="type != null"> AND od.type = #{type,jdbcType=OTHER}</if>
    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="listByDownload" resultMap="DATASET_OCCURRENCE_OMIT_DOWNLOAD_MAP" parameterType="org.gbif.api.model.common.paging.Pageable">
    SELECT <include refid="DATASET_OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM dataset_occurrence_download JOIN occurrence_download ON download_key = key
    WHERE download_key = #{downloadKey,jdbcType=OTHER}
    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByDataset" resultType="Integer" parameterType="map">
    SELECT COUNT(DISTINCT download_key)
    FROM dataset_occurrence_download JOIN occurrence_download od ON download_key = od.key
    WHERE dataset_key = #{datasetKey,jdbcType=OTHER}
    <if test="type != null"> AND od.type = #{type,jdbcType=OTHER}</if>
  </select>

  <insert id="createOrUpdateUsages" >
    WITH
      dataset_usages(dataset_key, number_records) AS
      ((VALUES
        <foreach item="value" index="key" collection="citationMap" open="(" separator="),(" close=")">
          cast(#{key} as uuid),#{value}
        </foreach>
      )),
      updated AS (UPDATE dataset_occurrence_download SET number_records = du.number_records
                  FROM dataset_occurrence_download dod JOIN dataset_usages du ON du.dataset_key = dod.dataset_key
                  WHERE dod.download_key =#{downloadKey} RETURNING dataset_occurrence_download.dataset_key)
    INSERT INTO dataset_occurrence_download (
      SELECT #{downloadKey} as download_key, d.key, dus.number_records, d.title, d.doi, d.citation
      FROM dataset d
      JOIN dataset_usages dus ON d.key = dus.dataset_key
      LEFT JOIN updated u ON u.dataset_key = d.key
      WHERE u.dataset_key is NULL)
  </insert>

</mapper>
