<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.DoiMapper">

  <resultMap id="DOI_DATA_MAP" type="org.gbif.api.model.common.DoiData">
    <constructor>
      <arg column="status" javaType="org.gbif.api.model.common.DoiStatus"/>
      <arg column="target" javaType="java.net.URI" typeHandler="org.gbif.mybatis.type.UriTypeHandler"/>
    </constructor>
  </resultMap>

  <select id="get" resultType="org.gbif.api.model.common.DoiData" resultMap="DOI_DATA_MAP">
    SELECT status, target
    FROM gbif_doi
    WHERE doi = #{doi,jdbcType=OTHER}
  </select>

  <select id="list" resultType="map" parameterType="org.gbif.api.model.common.paging.Pageable">
    SELECT doi, target, status, target, type
    FROM gbif_doi
    <where>
      <if test="status != null">
        status=#{status,jdbcType=OTHER}
      </if>
      <if test="type != null">
        AND type=#{type,jdbcType=OTHER}
      </if>
    </where>
    <if test="page != null">
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="getMetadata" resultType="String">
    SELECT metadata
    FROM gbif_doi
    WHERE doi = #{doi,jdbcType=OTHER}
  </select>

  <select id="getType" resultType="org.gbif.registry.domain.doi.DoiType">
    SELECT type
    FROM gbif_doi
    WHERE doi = #{doi,jdbcType=OTHER}
  </select>

  <insert id="create" parameterType="map" useGeneratedKeys="false">
    INSERT INTO gbif_doi (doi, type, status)
    VALUES (#{doi,jdbcType=OTHER}, #{type,jdbcType=OTHER}, 'NEW')
  </insert>

  <update id="update" parameterType="map">
    UPDATE gbif_doi
    SET status   = #{doiData.status,jdbcType=OTHER},
        target   = #{doiData.target,jdbcType=OTHER},
        metadata = #{xml,jdbcType=OTHER},
        modified = now()
    WHERE doi = #{doi,jdbcType=OTHER}
  </update>

  <delete id="delete" parameterType="map">
    DELETE
    FROM gbif_doi
    WHERE doi = #{doi,jdbcType=OTHER}
  </delete>

</mapper>
