<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.IdentifierMapper">

  <sql id="WRITABLE_IDENTIFIER_FIELDS">
    type,identifier,created,created_by
  </sql>

  <sql id="IDENTIFIER_FIELDS">
    key,<include refid="org.gbif.registry.persistence.mapper.IdentifierMapper.WRITABLE_IDENTIFIER_FIELDS"/>
  </sql>

  <sql id="WRITABLE_IDENTIFIER_FIELD_TYPES">
    #{type,jdbcType=OTHER},
    #{identifier},
    now(), <!-- created -->
    #{createdBy}
  </sql>

  <insert id="createIdentifier" parameterType="org.gbif.api.model.registry.Identifier" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO identifier(<include refid="WRITABLE_IDENTIFIER_FIELDS"/>)
    VALUES(<include refid="WRITABLE_IDENTIFIER_FIELD_TYPES"/>)
  </insert>

  <select id="list" resultType="org.gbif.api.model.registry.Identifier" parameterType="org.gbif.api.model.common.paging.Pageable">
    SELECT key,type,identifier,created,created_by
    FROM identifier
    <where>
      <if test="type != null" >
        type=#{type, jdbcType=OTHER}
      </if>
      <if test="identifier != null" >
        AND identifier=#{identifier}
      </if>
    </where>
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="get" resultType="org.gbif.api.model.registry.Identifier">
    SELECT key,type,identifier,created,created_by
    FROM identifier
    WHERE key = #{key}
  </select>

</mapper>
