<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.MetadataMapper">

  <sql id="WRITABLE_METADATA_FIELDS">
    dataset_key,type,created,created_by,modified,modified_by
  </sql>

  <sql id="METADATA_FIELDS">
    key,<include refid="org.gbif.registry.persistence.mapper.MetadataMapper.WRITABLE_METADATA_FIELDS"/>
  </sql>

  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="BYTE_ARRAY_MAP" type="org.gbif.registry.persistence.mapper.handler.ByteArrayWrapper" autoMapping="false">
    <result column="content" property="data" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler" />
  </resultMap>

  <select id="get" resultType="org.gbif.api.model.registry.Metadata">
    SELECT <include refid="METADATA_FIELDS"/>
    FROM metadata
    WHERE key = #{key}
  </select>

  <select id="getDocument" resultMap="BYTE_ARRAY_MAP">
    SELECT content
    FROM metadata
    WHERE key = #{key}
  </select>

  <insert id="create" useGeneratedKeys="true" keyProperty="meta.key">
    INSERT INTO metadata(
    <include refid="WRITABLE_METADATA_FIELDS"/>, content
    )
    VALUES(
    #{meta.datasetKey, jdbcType=OTHER},
    #{meta.type, jdbcType=OTHER},
    now(), <!-- created -->
    #{meta.createdBy, jdbcType=VARCHAR},
    now(), <!-- modified -->
    #{meta.createdBy, jdbcType=VARCHAR},
    #{data, typeHandler=org.apache.ibatis.type.ByteArrayTypeHandler}
    )
  </insert>

  <delete id="delete">
    DELETE FROM metadata
    WHERE key = #{key}
  </delete>

  <!-- Append priority ordering -->
  <select id="list" resultType="org.gbif.api.model.registry.Metadata">
    SELECT <include refid="METADATA_FIELDS"/>
    FROM metadata
    WHERE dataset_key=#{key,jdbcType=OTHER}
    <if test="type != null" >
      AND type=#{type,jdbcType=OTHER}
    </if>
    ORDER BY type ASC, created DESC, key
  </select>


</mapper>