<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.NetworkMapper">

  <!-- Auto-mapping and eager loading of sub resources  -->
  <resultMap id="NETWORK_MAP" type="org.gbif.api.model.registry.Network" autoMapping="true">
    <id property="key" column="key"/>
    <result property="email" column="email" typeHandler="org.gbif.mybatis.type.StringArrayTypeHandler"/>
    <result property="phone" column="phone" typeHandler="org.gbif.mybatis.type.StringArrayTypeHandler"/>
    <result property="address" column="address" typeHandler="org.gbif.mybatis.type.StringArrayTypeHandler"/>
    <result property="homepage" column="homepage" typeHandler="org.gbif.mybatis.type.UriArrayTypeHandler"/>
    <association property="numConstituents" column="key" select="countDatasetsInNetwork" />
    <collection property="contacts" column="key" select="listContacts"/>
    <collection property="endpoints" column="key" select="listEndpoints"/>
    <collection property="machineTags" column="key" select="listMachineTags"/>
    <collection property="tags" column="key" select="listTags"/>
    <collection property="comments" column="key" select="listComments"/>
  </resultMap>

  <sql id="WRITABLE_NETWORK_FIELDS">
    key,title,description,language,email,phone,homepage,logo_url,address,city,province,country,postal_code,
    created,created_by,modified,modified_by
  </sql>

  <sql id="NETWORK_FIELDS">
    n.key,n.title,n.description,n.language,n.email,n.phone,n.homepage,n.logo_url,n.address,n.city,n.province,
    n.country,n.postal_code,n.created,n.created_by,n.modified,n.modified_by,n.deleted
  </sql>

  <!--
    Simple fulltext search on the search field or contact search field.
    to_tsquery() is used to handle ALL stuff from the URL so the limitations are constrained by this method.
    Uses the default configuration english for the English language.
   -->
  <sql id="SIMPLE_SEARCH">
    AND (
          query @@ n.fulltext_search
          OR EXISTS(
          SELECT contact_key
          FROM network_contact JOIN contact c ON c.key = contact_key
          WHERE network_key=n.key AND query @@ c.fulltext_search
          )
        )
  </sql>


  <!--
    key, created and deleted are never changed
   -->
  <sql id="NETWORK_UPDATE">
    title = #{title,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    language = #{language,jdbcType=CHAR},
    email = #{email,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.StringArrayTypeHandler},
    phone = #{phone,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.StringArrayTypeHandler},
    homepage = #{homepage,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.UriArrayTypeHandler},
    logo_url = #{logoUrl,jdbcType=VARCHAR},
    address = #{address,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.StringArrayTypeHandler},
    city = #{city,jdbcType=VARCHAR},
    province = #{province,jdbcType=VARCHAR},
    country = #{country,jdbcType=CHAR},
    postal_code = #{postalCode,jdbcType=VARCHAR},
    modified = now(),
    modified_by = #{modifiedBy},
    deleted = null <!-- if we're updating it can't be deleted -->
  </sql>

  <sql id="WRITABLE_NETWORK_FIELD_TYPES">
    #{key,jdbcType=OTHER},
    #{title,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR},
    #{language,jdbcType=CHAR},
    #{email,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.StringArrayTypeHandler},
    #{phone,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.StringArrayTypeHandler},
    #{homepage,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.UriArrayTypeHandler},
    #{logoUrl,jdbcType=VARCHAR},
    #{address,jdbcType=ARRAY, typeHandler=org.gbif.mybatis.type.StringArrayTypeHandler},
    #{city,jdbcType=VARCHAR},
    #{province,jdbcType=VARCHAR},
    #{country,jdbcType=CHAR},
    #{postalCode,jdbcType=VARCHAR},
    now(), <!-- created -->
    #{createdBy},
    now(), <!-- modified -->
    #{createdBy}
  </sql>

  <select id="countDatasetsInNetwork" resultType="int">
    SELECT COUNT(*) AS num_constituents
    FROM dataset_network dn
    JOIN dataset d ON d.key = dn.dataset_key
    WHERE d.deleted IS NULL AND network_key = #{networkKey,jdbcType=OTHER}
  </select>

  <!--  Note: you can get entities which are deleted -->
  <select id="get" resultMap="NETWORK_MAP">
    SELECT <include refid="NETWORK_FIELDS"/>
    FROM network n
    WHERE n.key = #{key,jdbcType=OTHER}
  </select>

  <select id="exists" resultType="Boolean">
    SELECT count(1)
    FROM network n
    WHERE n.key = #{key,jdbcType=OTHER}
  </select>

  <select id="title" resultType="String">
    SELECT title
    FROM network
    WHERE key = #{key,jdbcType=OTHER}
  </select>

  <insert id="create" parameterType="org.gbif.api.model.registry.Network">
    INSERT INTO network(<include refid="WRITABLE_NETWORK_FIELDS"/>)
    VALUES(<include refid="WRITABLE_NETWORK_FIELD_TYPES"/>)
  </insert>

  <update id="update" parameterType="org.gbif.api.model.registry.Network">
    UPDATE network
    SET <include refid="NETWORK_UPDATE"/>
    WHERE key = #{key,jdbcType=OTHER}
  </update>

  <!-- For safety, should it be already deleted nothing is done -->
  <update id="delete">
    UPDATE network
    SET deleted = now()
    WHERE key = #{key,jdbcType=OTHER} AND deleted IS NULL
  </update>

  <select id="list" resultMap="NETWORK_MAP">
    SELECT DISTINCT ON(<if test="params.query != null" >ts_rank_cd(n.fulltext_search, query), </if>n.created, n.key)
      <include refid="NETWORK_FIELDS"/>
    <include refid="LIST_FILTER" />
    ORDER BY <if test="params.query != null" >ts_rank_cd(n.fulltext_search, query) DESC, </if>n.created DESC, n.key
    <if test="params.page != null" >
      LIMIT #{params.page.limit} OFFSET #{params.page.offset}
    </if>
  </select>

  <select id="count" resultType="Long">
    SELECT COUNT(DISTINCT n.key)
    <include refid="LIST_FILTER"/>
  </select>

  <sql id="LIST_FILTER">
    FROM network n<if test="params.query != null" >, to_tsquery('english',regexp_replace(quote_literal(unaccent(trim(#{params.query}))),'\s+',':*&amp;','g')||':*') AS query</if>
    <if test="params.identifier != null or params.identifierType != null">
      INNER JOIN network_identifier ni ON ni.network_key = n.key
      INNER JOIN identifier i ON ni.identifier_key = i.key
    </if>
    <if test="params.mtNamespace != null or params.mtName != null or params.mtValue != null">
      INNER JOIN network_machine_tag nmt ON nmt.network_key = n.key
      INNER JOIN machine_tag m ON nmt.machine_tag_key = m.key
    </if>
    <if test="params.datasetKey != null">
      INNER JOIN dataset_network dn ON dn.network_key = n.key
      INNER JOIN dataset d ON d.key = dn.dataset_key
    </if>
    <where>
      <choose>
        <when test="params.deleted != null and params.deleted">
          n.deleted IS NOT NULL
        </when>
        <otherwise>
          n.deleted IS NULL
        </otherwise>
      </choose>
      <if test="params.from != null" > AND n.modified &gt;= #{params.from}</if>
      <if test="params.to != null" > AND n.modified &lt; #{params.to}</if>
      <if test="params.query != null" >
        <include refid="SIMPLE_SEARCH"/>
      </if>
      <if test="params.identifier != null" >
        AND i.identifier = #{params.identifier,jdbcType=VARCHAR}
      </if>
      <if test="params.identifierType != null" >
        AND i.type=#{params.identifierType,jdbcType=OTHER}
      </if>
      <if test="params.mtNamespace != null" >
        AND m.namespace = #{params.mtNamespace,jdbcType=VARCHAR}
      </if>
      <if test="params.mtName != null" >
        AND m.name=#{params.mtName,jdbcType=VARCHAR}
      </if>
      <if test="params.mtValue != null" >
        AND m.value=#{params.mtValue,jdbcType=VARCHAR}
      </if>
      <if test="params.datasetKey != null" >
        AND dn.dataset_key = #{params.datasetKey,jdbcType=OTHER}
      </if>
    </where>
  </sql>

  <!-- TAGS -->
  <insert id="addTag">
    INSERT INTO network_tag(network_key,tag_key)
    VALUES(
            #{targetEntityKey,jdbcType=OTHER},
            #{tagKey,jdbcType=INTEGER}
          )
  </insert>

  <select id="listTags" resultType="org.gbif.api.model.registry.Tag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.TagMapper.TAG_FIELDS"/>
    FROM tag INNER JOIN network_tag ON tag_key = key
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>


  <!-- Joined delete of tag to trigger cascade delete of the join table -->
  <delete id="deleteTag">
    DELETE FROM tag USING network_tag
    WHERE tag_key = tag.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND tag_key = #{tagKey,jdbcType=INTEGER}
  </delete>

  <!-- CONTACTS -->
  <insert id="addContact">
    INSERT INTO network_contact(network_key,contact_key, type, is_primary)
    VALUES(
            #{targetEntityKey,jdbcType=OTHER},
            #{contactKey,jdbcType=INTEGER},
            #{type,jdbcType=OTHER},
            #{isPrimary,jdbcType=BOOLEAN}
          )
  </insert>

  <!-- Update existing primary contacts of a type to false -->
  <update id="updatePrimaryContacts">
    UPDATE network_contact
    SET is_primary=false
    WHERE network_key=#{targetEntityKey,jdbcType=OTHER} AND type=#{type,jdbcType=OTHER}
  </update>

  <!-- Update contact type and is_primary -->
  <update id="updateContact">
    UPDATE network_contact
    SET is_primary=#{primary,jdbcType=BOOLEAN},
        type=#{type,jdbcType=OTHER}
    WHERE network_key=#{targetEntityKey,jdbcType=OTHER} AND contact_key=#{contactKey,jdbcType=INTEGER}
  </update>

  <!-- List of contacts returned in ascending created date, preserving same order in which they were persisted -->
  <select id="listContacts" resultMap="org.gbif.registry.persistence.mapper.ContactMapper.CONTACT_MAP">
    SELECT <include refid="org.gbif.registry.persistence.mapper.ContactMapper.CONTACT_FIELDS"/>
    FROM contact INNER JOIN network_contact ON contact_key = key
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created ASC
  </select>

  <!-- Joined delete of contact to trigger cascade delete of the join table -->
  <delete id="deleteContact">
    DELETE FROM contact USING network_contact
    WHERE contact_key = contact.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND contact_key = #{contactKey,jdbcType=INTEGER}
  </delete>

  <delete id="deleteContacts">
    DELETE FROM contact USING network_contact
    WHERE contact_key = contact.key AND
          network_contact = #{targetEntityKey,jdbcType=OTHER}
  </delete>

  <select id="areRelated" resultType="boolean">
    SELECT true
    FROM network_contact
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER} AND
          contact_key = #{contactKey,jdbcType=INTEGER}
    LIMIT 1
  </select>

  <!-- IDENTIFIERS -->
  <insert id="addIdentifier">
    INSERT INTO network_identifier(network_key,identifier_key)
    VALUES(
            #{targetEntityKey,jdbcType=OTHER},
            #{identifierKey,jdbcType=INTEGER}
          )
  </insert>

  <select id="listIdentifiers" resultType="org.gbif.api.model.registry.Identifier">
    SELECT <include refid="org.gbif.registry.persistence.mapper.IdentifierMapper.IDENTIFIER_FIELDS"/>
    FROM identifier INNER JOIN network_identifier ON identifier_key = key
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>

  <!-- Joined delete of identifier to trigger cascade delete of the join table -->
  <delete id="deleteIdentifier">
    DELETE FROM identifier USING network_identifier
    WHERE identifier_key = identifier.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND identifier_key = #{identifierKey,jdbcType=INTEGER}
  </delete>

  <!-- ENDPOINTS -->
  <insert id="addEndpoint">
    INSERT INTO network_endpoint(network_key,endpoint_key)
    VALUES(
            #{targetEntityKey,jdbcType=OTHER},
            #{endpointKey,jdbcType=INTEGER}
          )
  </insert>

  <select id="listEndpoints" resultMap="org.gbif.registry.persistence.mapper.EndpointMapper.ENDPOINT_MAP">
    SELECT <include refid="org.gbif.registry.persistence.mapper.EndpointMapper.ENDPOINT_FIELDS"/>
    FROM endpoint INNER JOIN network_endpoint ON endpoint_key = key
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>

  <!-- Joined delete of endpoint to trigger cascade delete of the join table -->
  <delete id="deleteEndpoint">
    DELETE FROM endpoint USING network_endpoint
    WHERE endpoint_key = endpoint.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND endpoint_key = #{endpointKey,jdbcType=INTEGER}
  </delete>

  <!-- MACHINE TAGS -->
  <insert id="addMachineTag">
    INSERT INTO network_machine_tag(network_key,machine_tag_key)
    VALUES(
            #{targetEntityKey,jdbcType=OTHER},
            #{machineTagKey,jdbcType=INTEGER}
          )
  </insert>

  <select id="listMachineTags" resultType="org.gbif.api.model.registry.MachineTag">
    SELECT <include refid="org.gbif.registry.persistence.mapper.MachineTagMapper.MACHINETAG_FIELDS"/>
    FROM machine_tag INNER JOIN network_machine_tag ON machine_tag_key = key
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY namespace
  </select>

  <!-- Joined delete of machine_tag to trigger cascade delete of the join table -->
  <delete id="deleteMachineTag">
    DELETE FROM machine_tag USING network_machine_tag
    WHERE machine_tag_key = machine_tag.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND machine_tag_key = #{machineTagKey,jdbcType=INTEGER}
  </delete>

  <delete id="deleteMachineTags">
    DELETE FROM machine_tag USING network_machine_tag
    WHERE machine_tag_key = machine_tag.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND
          namespace = #{namespace}
    <if test="name != null" >
          AND name = #{name}
    </if>
  </delete>

  <!-- COMMENTS -->
  <insert id="addComment">
    INSERT INTO network_comment(network_key,comment_key)
    VALUES(
            #{targetEntityKey,jdbcType=OTHER},
            #{commentKey,jdbcType=INTEGER}
          )
  </insert>

  <select id="listComments" resultType="org.gbif.api.model.registry.Comment">
    SELECT <include refid="org.gbif.registry.persistence.mapper.CommentMapper.COMMENT_FIELDS"/>
    FROM comment INNER JOIN network_comment ON comment_key = key
    WHERE network_key = #{targetEntityKey,jdbcType=OTHER}
    ORDER BY created DESC
  </select>

  <!-- Joined delete of comment to trigger cascade delete of the join table -->
  <delete id="deleteComment">
    DELETE FROM comment USING network_comment
    WHERE comment_key = comment.key AND
          network_key = #{targetEntityKey,jdbcType=OTHER} AND comment_key = #{commentKey,jdbcType=INTEGER}
  </delete>

  <select id="constituentExists" resultType="java.lang.Boolean">
    SELECT EXISTS (
               SELECT *
               FROM dataset_network
               WHERE dataset_key = #{datasetKey,jdbcType=OTHER} AND network_key = #{networkKey,jdbcType=OTHER}
             )
  </select>

  <!-- DATASET CONSTITUENTS -->
  <insert id="addDatasetConstituent">
    INSERT INTO dataset_network(dataset_key,network_key)
    VALUES(
            #{datasetKey,jdbcType=OTHER},
            #{networkKey,jdbcType=OTHER}
          )
  </insert>

  <delete id="deleteDatasetConstituent">
    DELETE FROM dataset_network
    WHERE
      dataset_key = #{datasetKey,jdbcType=OTHER} AND
      network_key = #{networkKey,jdbcType=OTHER}
  </delete>

  <!-- Simple suggest -->
  <select id="suggest" resultType="org.gbif.api.model.registry.search.KeyTitleResult">
    SELECT key,title FROM (
                            (SELECT key,title FROM network WHERE deleted IS NULL AND title ilike #{q}||'%' AND deleted IS NULL ORDER BY title LIMIT 25)
                            UNION ALL
                            (SELECT key,title FROM network WHERE deleted IS NULL AND title ilike '%'||#{q}||'%' AND NOT title ilike #{q}||'%' AND deleted IS NULL ORDER BY title LIMIT 25)
                          ) t1 LIMIT 25
  </select>

  <!-- Append ordering by title, omitting deleted entities. No paging, instead all networks included in response -->
  <select id="listNetworksBrief" resultType="org.gbif.registry.domain.ws.IptNetworkBriefResponse">
    SELECT n.key,n.title AS name
    FROM network n
    WHERE n.deleted IS NULL
    ORDER BY lower(n.title)
  </select>
</mapper>
