<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.OccurrenceDownloadMapper">

  <!-- Maps an occurrence download and handles the different types of downloads -->
  <resultMap id="OCCURRENCE_DOWNLOAD_MAP" type="org.gbif.api.model.occurrence.Download" autoMapping="false">
    <id property="key" column="key"/>
    <result property="doi" column="doi" />
    <result property="license" column="license"/>
    <result property="status" column="status"/>
    <result property="downloadLink" column="download_link"/>
    <result property="size" column="size"/>
    <result property="totalRecords" column="total_records"/>
    <result property="created" column="created"/>
    <result property="modified" column="modified"/>
    <result property="eraseAfter" column="erase_after"/>
    <result property="erasureNotification" column="erasure_notification"/>

    <association property="request" javaType="org.gbif.api.model.occurrence.DownloadRequest">
      <result property="notificationAddressesAsString" column="notification_addresses"/>
      <result property="sendNotification" column="send_notification"/>
      <result property="creator" column="created_by" />
      <result property="format" column="format"/>
      <result property="type" column="type"/>
      <result property="extensions" column="extensions" typeHandler="ExtensionArrayTypeHandler"/>
      <discriminator javaType="string" column="format">
        <case value="DWCA" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="SIMPLE_CSV" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="SIMPLE_AVRO" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="SIMPLE_PARQUET" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="SIMPLE_WITH_VERBATIM_AVRO" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="SPECIES_LIST" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="IUCN" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="MAP_OF_LIFE" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
        <case value="BIONOMIA" resultType="org.gbif.api.model.occurrence.PredicateDownloadRequest">
          <result property="predicate" column="filter" typeHandler="org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler" />
        </case>
      </discriminator>
    </association>

    <association property="numberDatasets" column="key" select="COUNT_DATASETS" fetchType="eager"/>
  </resultMap>

  <resultMap id="DOWNLOADS_STATISTICS_COUNT_MAP" type="org.gbif.api.model.common.search.Facet$Count" autoMapping="true">
    <result property="name" column="year_month" />
    <result property="count" column="number_downloads" />
  </resultMap>

  <resultMap id="DOWNLOADS_STATISTICS_TOTAL_RECORDS_MAP" type="org.gbif.api.model.common.search.Facet$Count" autoMapping="true">
    <result property="name" column="year_month" />
    <result property="count" column="total_records" />
  </resultMap>

  <resultMap id="DOWNLOAD_STATISTICS" type="org.gbif.api.model.occurrence.DownloadStatistics" autoMapping="true"/>

  <sql id="OCCURRENCE_DOWNLOAD_FIELDS">
    key,doi,license,filter,status,download_link,size,total_records,notification_addresses,created_by,send_notification,format,created,modified,erase_after,erasure_notification,type,extensions
  </sql>


  <select id="COUNT_DATASETS" resultType="Integer">
    SELECT COUNT(*) FROM dataset_occurrence_download WHERE download_key = #{key,jdbcType=VARCHAR}
  </select>

  <!--
  Only the below fields can be updated
  -->
  <sql id="OCCURRENCE_DOWNLOAD_UPDATE_NOTIFICATION_ADDRESSES">
    notification_addresses = #{notificationAddressesAsString,jdbcType=VARCHAR},
    created_by = #{newCreator,jdbcType=VARCHAR}
  </sql>

  <!--
    Only the below fields can be updated
   -->
  <sql id="OCCURRENCE_DOWNLOAD_UPDATE_STATUS">
    status = #{status,jdbcType=OTHER},
    size = #{size,jdbcType=BIGINT},
    doi = #{doi,jdbcType=VARCHAR},
    total_records = #{totalRecords,jdbcType=INTEGER},
    license = #{license,jdbcType=OTHER},
    erase_after = #{eraseAfter,jdbcType=TIMESTAMP},
    erasure_notification = #{erasureNotification,jdbcType=TIMESTAMP},
    modified = now()
  </sql>

  <sql id="OCCURRENCE_DOWNLOAD_FIELD_TYPES">
    #{key,jdbcType=VARCHAR},
    #{doi,jdbcType=VARCHAR},
    #{license,jdbcType=OTHER},
    <choose>
      <when test="request.format.name().equals('SQL')"> #{request.sql,jdbcType=VARCHAR},</when>
      <otherwise>#{request.predicate,jdbcType=VARCHAR,typeHandler=org.gbif.registry.persistence.mapper.handler.PredicateTypeHandler},</otherwise>
    </choose>
    #{status,jdbcType=OTHER},
    #{downloadLink,jdbcType=VARCHAR},
    #{size,jdbcType=BIGINT},
    #{totalRecords,jdbcType=INTEGER},
    #{request.notificationAddressesAsString,jdbcType=VARCHAR},
    #{request.creator,jdbcType=VARCHAR},
    #{request.sendNotification,jdbcType=BOOLEAN},
    #{request.format,jdbcType=OTHER},
    now(), <!-- created -->
    now(), <!-- modified -->
    #{eraseAfter,jdbcType=TIMESTAMP},
    #{erasureNotification,jdbcType=TIMESTAMP},
    #{request.type,jdbcType=OTHER},
    #{request.extensions,jdbcType=ARRAY,typeHandler=ExtensionArrayTypeHandler}
  </sql>

  <select id="get" resultType="org.gbif.api.model.occurrence.Download" resultMap="OCCURRENCE_DOWNLOAD_MAP">
    SELECT <include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM occurrence_download
    WHERE key = #{key,jdbcType=VARCHAR}
  </select>

  <select id="getByDOI" resultType="org.gbif.api.model.occurrence.Download" resultMap="OCCURRENCE_DOWNLOAD_MAP">
    SELECT <include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM occurrence_download
    WHERE doi = #{doi,jdbcType=VARCHAR}
  </select>


  <insert id="create" parameterType="org.gbif.api.model.occurrence.Download">
    INSERT INTO occurrence_download(<include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>)
    VALUES(<include refid="OCCURRENCE_DOWNLOAD_FIELD_TYPES"/>)
  </insert>

  <update id="update" parameterType="org.gbif.api.model.occurrence.Download">
    UPDATE occurrence_download
    SET <include refid="OCCURRENCE_DOWNLOAD_UPDATE_STATUS"/>
    WHERE key = #{key,jdbcType=VARCHAR}
  </update>

  <update id="updateNotificationAddresses">
    UPDATE occurrence_download
    SET <include refid="OCCURRENCE_DOWNLOAD_UPDATE_NOTIFICATION_ADDRESSES"/>
    WHERE created_by = #{oldCreator,jdbcType=VARCHAR}
  </update>

  <!-- Append safe ordering -->
  <select id="listByUser" resultType="org.gbif.api.model.occurrence.Download" resultMap="OCCURRENCE_DOWNLOAD_MAP">
    SELECT <include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM occurrence_download
    WHERE created_by = #{creator,jdbcType=VARCHAR}
    <if test="status != null and !status.isEmpty()" >
      AND status IN
      <foreach item="item" index="index" collection="status"
               open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="type != null"> AND type = #{type,jdbcType=OTHER}</if>
    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByUser" resultType="Integer">
    SELECT COUNT(*)
    FROM occurrence_download
    WHERE created_by = #{creator,jdbcType=VARCHAR}
    <if test="status != null and !status.isEmpty()" >
      AND status IN
      <foreach item="item" index="index" collection="status"
               open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="type != null"> AND type = #{type,jdbcType=OTHER}</if>
  </select>

  <!-- Append safe ordering -->
  <select id="list" resultType="org.gbif.api.model.occurrence.Download" resultMap="OCCURRENCE_DOWNLOAD_MAP">
    SELECT <include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM occurrence_download
    <where>
      <if test="type != null">type = #{type,jdbcType=OTHER}</if>
    </where>
    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="count" resultType="Integer">
    SELECT COUNT(*)
    FROM occurrence_download
    <where>
      <if test="type != null">type = #{type,jdbcType=OTHER}</if>
    </where>
  </select>

  <!-- Append safe ordering -->
  <select id="listByStatus" resultType="org.gbif.api.model.occurrence.Download" resultMap="OCCURRENCE_DOWNLOAD_MAP">
    SELECT <include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM occurrence_download
    WHERE status IN
    <foreach item="item" index="index" collection="status"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    <if test="type != null"> AND type = #{type,jdbcType=OTHER}</if>
    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByStatus" resultType="Integer">
    SELECT COUNT(*)
    FROM occurrence_download
    WHERE status IN
    <foreach item="item" index="index" collection="status"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    <if test="type != null"> AND type = #{type,jdbcType=OTHER}</if>
  </select>

  <select id="listByEraseAfter" resultType="org.gbif.api.model.occurrence.Download" resultMap="OCCURRENCE_DOWNLOAD_MAP">
    SELECT <include refid="OCCURRENCE_DOWNLOAD_FIELDS"/>
    FROM occurrence_download
    WHERE status = 'SUCCEEDED'
    AND created_by NOT IN ('download.gbif.org')
    <choose>
      <when test="eraseAfter != null" >
        AND <![CDATA[erase_after < #{eraseAfter,jdbcType=TIMESTAMP}]]>
      </when>
      <otherwise>
        AND <![CDATA[erase_after < NOW()]]>
      </otherwise>
    </choose>

    <if test="size != null" >
      AND <![CDATA[size >= #{size,jdbcType=BIGINT}]]>
    </if>

    <choose>
      <when test="erasureNotification != null" >
        AND <![CDATA[erasure_notification < #{erasureNotification,jdbcType=TIMESTAMP}]]>
      </when>
      <otherwise>
        AND erasure_notification IS NULL
      </otherwise>
    </choose>

    ORDER BY created DESC, key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countByEraseAfter" resultType="Integer">
    SELECT COUNT(*)
    FROM occurrence_download
    WHERE status = 'SUCCEEDED'
    AND created_by NOT IN ('download.gbif.org')
    <choose>
      <when test="eraseAfter != null" >
        AND <![CDATA[erase_after < #{eraseAfter,jdbcType=TIMESTAMP}]]>
      </when>
      <otherwise>
        AND <![CDATA[erase_after < NOW()]]>
      </otherwise>
    </choose>

    <if test="size != null" >
      AND <![CDATA[size >= #{size,jdbcType=BIGINT}]]>
    </if>

    <choose>
      <when test="erasureNotification != null" >
        AND <![CDATA[erasure_notification < #{erasureNotification,jdbcType=TIMESTAMP}]]>
      </when>
      <otherwise>
        AND erasure_notification IS NULL
      </otherwise>
    </choose>
  </select>

  <select id="getDownloadsByUserCountry" resultType="org.gbif.api.model.common.search.Facet$Count" resultMap="DOWNLOADS_STATISTICS_COUNT_MAP" parameterType="map">
    SELECT to_char(year_month AT TIME ZONE 'UTC','YYYY-MM') AS year_month, SUM(number_downloads) AS number_downloads
    FROM download_user_statistics
    <where>
      <if test="userCountry != null">AND user_country = #{userCountry,jdbcType=OTHER}</if>
      <if test="type != null">AND type = #{type,jdbcType=OTHER}</if>
      <if test="fromDate != null" ><![CDATA[AND year_month >= #{fromDate,jdbcType=TIMESTAMP}]]></if>
      <if test="toDate != null" ><![CDATA[AND year_month < #{toDate,jdbcType=TIMESTAMP}]]></if>
    </where>
    GROUP BY year_month
    ORDER BY year_month DESC;
  </select>

  <select id="getDownloadedRecordsByDataset" resultType="org.gbif.api.model.common.search.Facet$Count" resultMap="DOWNLOADS_STATISTICS_TOTAL_RECORDS_MAP" parameterType="map">
    SELECT to_char(year_month AT TIME ZONE 'UTC','YYYY-MM') AS year_month, SUM(total_records) AS total_records
    FROM download_statistics
    <if test="publishingOrgKey != null">
    JOIN dataset d ON d.key = dataset_key AND d.publishing_organization_key = #{publishingOrgKey,jdbcType=OTHER}
    </if>
    <where>
      <if test="publishingCountry != null">AND publishing_organization_country = #{publishingCountry,jdbcType=OTHER}</if>
      <if test="datasetKey != null">AND dataset_key = #{datasetKey,jdbcType=OTHER}</if>
      <if test="type != null">AND type = #{type,jdbcType=OTHER}</if>
      <if test="fromDate != null"><![CDATA[AND year_month >= #{fromDate,jdbcType=TIMESTAMP}]]></if>
      <if test="toDate != null"><![CDATA[AND year_month < #{toDate,jdbcType=TIMESTAMP}]]></if>
    </where>
    GROUP BY year_month
    ORDER BY year_month DESC;
  </select>

  <select id="getDownloadsByDataset" resultType="org.gbif.api.model.common.search.Facet$Count" resultMap="DOWNLOADS_STATISTICS_COUNT_MAP" parameterType="map">
    SELECT to_char(year_month AT TIME ZONE 'UTC','YYYY-MM') AS year_month, SUM(number_downloads) AS number_downloads
    FROM download_statistics
    <if test="publishingOrgKey != null">
    JOIN dataset d ON d.key = dataset_key AND d.publishing_organization_key = #{publishingOrgKey,jdbcType=OTHER}
    </if>
    <where>
      <if test="publishingCountry != null">AND publishing_organization_country = #{publishingCountry,jdbcType=OTHER}</if>
      <if test="datasetKey != null">AND dataset_key = #{datasetKey,jdbcType=OTHER}</if>
      <if test="type != null">AND type = #{type,jdbcType=OTHER}</if>
      <if test="fromDate != null"><![CDATA[AND year_month >= #{fromDate,jdbcType=TIMESTAMP}]]></if>
      <if test="toDate != null"><![CDATA[AND year_month < #{toDate,jdbcType=TIMESTAMP}]]></if>
    </where>
    GROUP BY year_month
    ORDER BY year_month DESC;
  </select>

  <select id="getDownloadStatistics" resultMap="DOWNLOAD_STATISTICS" parameterType="map">
    SELECT year_month, dataset_key, SUM(number_downloads) AS number_downloads, SUM(total_records) AS total_records
    FROM download_statistics
    <if test="publishingOrgKey != null">
      JOIN dataset d ON d.key = dataset_key AND d.publishing_organization_key = #{publishingOrgKey,jdbcType=OTHER}
    </if>
    <where>
      <if test="publishingCountry != null">AND publishing_organization_country = #{publishingCountry,jdbcType=OTHER}</if>
      <if test="datasetKey != null">AND dataset_key = #{datasetKey,jdbcType=OTHER}</if>
      <if test="type != null">AND type = #{type,jdbcType=OTHER}</if>
      <if test="fromDate != null"><![CDATA[AND year_month >= #{fromDate,jdbcType=TIMESTAMP}]]></if>
      <if test="toDate != null"><![CDATA[AND year_month < #{toDate,jdbcType=TIMESTAMP}]]></if>
    </where>
    GROUP BY dataset_key, year_month
    ORDER BY year_month DESC
    <if test="page != null" >
    LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countDownloadStatistics" resultType="Long" parameterType="map">
    SELECT COUNT(*)
    FROM download_statistics
    <if test="publishingOrgKey != null">
      JOIN dataset d ON d.key = dataset_key AND d.publishing_organization_key = #{publishingOrgKey,jdbcType=OTHER}
    </if>
    <where>
      <if test="publishingCountry != null">AND publishing_organization_country = #{publishingCountry,jdbcType=OTHER}</if>
      <if test="datasetKey != null">AND dataset_key = #{datasetKey,jdbcType=OTHER}</if>
      <if test="type != null">AND type = #{type,jdbcType=OTHER}</if>
      <if test="fromDate != null"><![CDATA[AND year_month >= #{fromDate,jdbcType=TIMESTAMP}]]></if>
      <if test="toDate != null"><![CDATA[AND year_month < #{toDate,jdbcType=TIMESTAMP}]]></if>
    </where>
  </select>
</mapper>
