<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.UserMapper" >

  <resultMap id="USER_MAP" type="org.gbif.api.model.common.GbifUser" >
    <id column="username" property="userName" />
    <result column="email" property="email" />
    <result column="first_name" property="firstName" />
    <result column="last_name" property="lastName" />
    <result column="password" property="passwordHash" />
    <result column="roles" property="roles" typeHandler="org.gbif.registry.persistence.mapper.handler.UserRoleTypeHandler"/>
    <result column="settings" property="settings" typeHandler="org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler"/>
    <result column="system_settings" property="systemSettings" typeHandler="org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler"/>
    <result column="last_login" property="lastLogin" />
    <result column="deleted" property="deleted" />
  </resultMap>

  <sql id="WRITABLE_USER_FIELDS">
    username,first_name,last_name,email,password,roles,settings,system_settings,created
  </sql>

  <sql id="USER_FIELDS">
    u.key,u.username,u.first_name,u.last_name,u.email,u.password,u.roles,u.settings,u.system_settings,u.last_login, u.deleted
  </sql>

  <sql id="WRITABLE_USER_FIELD_TYPES">
    #{userName,jdbcType=VARCHAR},
    #{firstName,jdbcType=VARCHAR},
    #{lastName,jdbcType=VARCHAR},
    #{email,jdbcType=VARCHAR},
    #{passwordHash,jdbcType=VARCHAR},
    #{roles,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.handler.UserRoleTypeHandler},
    #{settings,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler}::hstore,
    #{systemSettings,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler}::hstore,
    now() <!-- created -->
  </sql>

  <sql id="USER_UPDATE">
    first_name = #{firstName,jdbcType=VARCHAR},
    last_name = #{lastName,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    password = #{passwordHash,jdbcType=VARCHAR},
    roles = #{roles,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.handler.UserRoleTypeHandler},
    settings = #{settings,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler}::hstore,
    system_settings = #{systemSettings,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler}::hstore,
    deleted = #{deleted}
  </sql>

  <sql id="USER_DELETE">
    username = #{userName,jdbcType=VARCHAR},
    first_name = #{firstName,jdbcType=VARCHAR},
    last_name = #{lastName,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    password = #{passwordHash,jdbcType=VARCHAR},
    roles = #{roles,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.handler.UserRoleTypeHandler},
    settings = #{settings,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler}::hstore,
    system_settings = #{systemSettings,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.auxhandler.SettingsTypeHandler}::hstore,
    deleted = now()
  </sql>

  <sql id="SIMPLE_SEARCH">
    u.last_name ILIKE '%' || #{query} || '%' OR
    u.first_name ILIKE '%' || #{query} || '%' OR
    u.email ILIKE '%' || #{query} || '%' OR
    u.username ILIKE '%' || #{query} || '%'
  </sql>

  <!-- Basic paging search functionality -->
  <select id="search" resultMap="USER_MAP">
    SELECT <include refid="USER_FIELDS"/>
    FROM public.user u
    <if test="editorRightsOn != null" >
      JOIN editor_rights er ON er.username = u.username AND er.key IN
        <foreach item="item" index="index" collection="editorRightsOn" open="(" separator="," close=")">
          #{item}
        </foreach>
    </if>
    <if test="namespaceRightsOn != null" >
      JOIN namespace_rights nr ON nr.username = u.username AND nr.namespace IN
      <foreach item="item" index="index" collection="namespaceRightsOn" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="countryRightsOn != null" >
      JOIN country_rights cr ON cr.username = u.username AND cr.country IN
      <foreach item="item" index="index" collection="countryRightsOn" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <where>
      <if test="query != null" > <include refid="SIMPLE_SEARCH"/> </if>
      <if test="roles != null" >
        AND roles @> #{roles,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.handler.UserRoleTypeHandler}
      </if>
    </where>
    ORDER BY u.last_name, u.first_name, u.username
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="count" resultType="Integer" parameterType="map">
    SELECT COUNT(*)
    FROM public.user u
    <if test="editorRightsOn != null" >
      JOIN editor_rights er ON er.username = u.username AND er.key IN
        <foreach item="item" index="index" collection="editorRightsOn" open="(" separator="," close=")">
          #{item}
        </foreach>
    </if>
    <if test="namespaceRightsOn != null" >
      JOIN namespace_rights nr ON nr.username = u.username AND nr.namespace IN
      <foreach item="item" index="index" collection="namespaceRightsOn" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="countryRightsOn != null" >
      JOIN country_rights cr ON cr.username = u.username AND cr.country IN
      <foreach item="item" index="index" collection="countryRightsOn" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <where>
      <if test="query != null" > <include refid="SIMPLE_SEARCH"/> </if>
      <if test="roles != null" >
        AND roles @> #{roles,jdbcType=OTHER,typeHandler=org.gbif.registry.persistence.mapper.handler.UserRoleTypeHandler}
      </if>
    </where>
  </select>

  <insert id="create" parameterType="org.gbif.api.model.common.GbifUser" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO public.user(<include refid="WRITABLE_USER_FIELDS"/>)
    VALUES(<include refid="WRITABLE_USER_FIELD_TYPES"/>)
  </insert>

  <!--  Note: you can't get deleted users -->
  <select id="get" resultMap="USER_MAP" parameterType="java.lang.String">
    SELECT <include refid="USER_FIELDS"/>
    FROM public.user u
    WHERE lower(u.username) = lower(#{x}) AND u.deleted IS NULL
  </select>

  <!--  Note: getByKey returns deleted users -->
  <select id="getByKey" resultMap="USER_MAP" parameterType="java.lang.Integer">
    SELECT <include refid="USER_FIELDS"/>
    FROM public.user u
    WHERE u.key = #{x}
  </select>

  <select id="getByEmail" resultMap="USER_MAP" parameterType="java.lang.String">
    SELECT <include refid="USER_FIELDS"/>
    FROM public.user u
    WHERE lower(u.email) = lower(#{x}) AND u.deleted IS NULL
  </select>

  <select id="getBySystemSetting" resultMap="USER_MAP" parameterType="java.lang.String">
    SELECT <include refid="USER_FIELDS"/>
    FROM public.user u
    WHERE u.system_settings->#{key} = #{value} AND u.deleted IS NULL
  </select>

  <update id="update" parameterType="org.gbif.api.model.common.GbifUser">
    UPDATE public.user
    SET <include refid="USER_UPDATE"/>
    WHERE username = #{userName,jdbcType=VARCHAR}
  </update>

  <select id="deleteByKey" parameterType="java.lang.Integer">
    UPDATE public.user
    SET deleted = now()
    WHERE key = #{x} AND deleted IS NULL
  </select>

  <select id="delete" parameterType="org.gbif.api.model.common.GbifUser">
    UPDATE public.user
    SET <include refid="USER_DELETE"/>
    WHERE key = #{key} AND deleted IS NULL
  </select>

  <select id="getChallengeCodeKey" resultType="Integer" parameterType="java.lang.Integer">
    SELECT challenge_code_key
    FROM public.user
    WHERE key = #{key}
  </select>

  <update id="updateChallengeCodeKey">
    UPDATE public.user
    SET challenge_code_key = #{challengeCodeKey}
    WHERE key = #{key}
  </update>

  <update id="updateLastLogin">
    UPDATE public.user
    SET last_login = now()
    WHERE key = #{key}
  </update>

  <select id="listEditorRights" resultType="java.util.UUID">
    SELECT key
    FROM editor_rights
    WHERE username = #{userName,jdbcType=VARCHAR}
  </select>

  <update id="addEditorRight">
    INSERT INTO editor_rights(username,key)
    VALUES(
            #{userName,jdbcType=VARCHAR},
            #{key,jdbcType=OTHER}
          )
  </update>

  <delete id="deleteEditorRight">
    DELETE FROM editor_rights
    WHERE username = #{userName,jdbcType=VARCHAR}
      AND key = #{key,jdbcType=OTHER}
  </delete>

  <update id="addNamespaceRight">
    INSERT INTO namespace_rights(username,namespace)
    VALUES(
            #{userName,jdbcType=VARCHAR},
            #{namespace,jdbcType=VARCHAR}
          )
  </update>

  <delete id="deleteNamespaceRight">
    DELETE FROM namespace_rights
    WHERE username = #{userName,jdbcType=VARCHAR}
      AND namespace = #{namespace,jdbcType=VARCHAR}
  </delete>

  <select id="listNamespaceRights" resultType="java.lang.String">
    SELECT namespace
    FROM namespace_rights
    WHERE username = #{userName,jdbcType=VARCHAR}
  </select>

  <update id="addCountryRight">
    INSERT INTO country_rights(username,country)
    VALUES(
    #{userName,jdbcType=VARCHAR},
    #{country,jdbcType=VARCHAR}
    )
  </update>

  <delete id="deleteCountryRight">
    DELETE FROM country_rights
    WHERE username = #{userName,jdbcType=VARCHAR}
    AND country = #{country,jdbcType=VARCHAR}
  </delete>

  <select id="listCountryRights" resultType="org.gbif.api.vocabulary.Country">
    SELECT country
    FROM country_rights
    WHERE username = #{userName,jdbcType=VARCHAR}
  </select>
</mapper>
