<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.registry.persistence.mapper.UserRightsMapper">

  <select id="keyExistsForUser" resultType="java.lang.Boolean">
    SELECT EXISTS (
               SELECT true
               FROM editor_rights
               WHERE key = #{key,jdbcType=OTHER} AND username = #{username}
             )
  </select>

  <select id="namespaceExistsForUser" resultType="java.lang.Boolean">
    SELECT EXISTS (
               SELECT true
               FROM namespace_rights
               WHERE namespace = #{ns} AND username = #{username}
             )
  </select>

  <select id="allowedToDeleteMachineTag" resultType="java.lang.Boolean">
    SELECT EXISTS (
               SELECT true
               FROM namespace_rights r JOIN machine_tag t ON r.namespace=t.namespace
               WHERE t.key = #{key} AND r.username = #{username}
             )
  </select>

  <select id="getKeysByUser" resultType="java.util.UUID">
    SELECT key
    FROM editor_rights
    WHERE username = #{username}
  </select>

  <select id="countryExistsForUser" resultType="java.lang.Boolean">
    SELECT EXISTS (
              SELECT true
              FROM country_rights
              WHERE country = #{country} AND username = #{username}
            )
  </select>

  <select id="getNamespacesByUser" resultType="java.lang.String">
    SELECT namespace
    FROM namespace_rights
    WHERE username = #{username}
  </select>

  <select id="getCountriesByUser" resultType="org.gbif.api.vocabulary.Country">
    SELECT country
    FROM country_rights
    WHERE username = #{username}
  </select>

</mapper>
