<div class="span10 offset1 pagination-centered">
  <div class="row-fluid home-well">
    <h2 class="muted">The GBIF Registry</h2>
    <p class="lead">
      Manage the entities that make up the GBIF network
    </p>
    
    <div class="row-fluid">
    
    <div class="span2 pagination-centered offset2 summary" ng-click="redirectTo('organization')">
      <h3><a href="">{{organization.count || 0}}</a></h3> 
      <p class="muted">Organizations</p>
    </div>

    
    <div class="span2 pagination-centered summary" ng-click="redirectTo('dataset')">
      <h3><a href="">{{dataset.count || 0}}</a></h3>
      <p class="muted">Datasets</p>
    </div>
    
    <div class="span2 pagination-centered summary" ng-click="redirectTo('installation')">
      <h3><a href="">{{installation.count || 0}}</a></h3>
      <p class="muted">Installations</p>
    </div>
    
    <div class="span2 pagination-centered summary" ng-click="redirectTo('node')">
      <h3><a href="">{{node.count || 0}}</a></h3>
      <p class="muted">Nodes</p>
    </div>
    
    </div>
  </div>
</div-->
