<?xml version='1.0' encoding='UTF-8'?>
<request xmlns='http://www.biocase.org/schemas/protocol/1.3'>
  <header><type>search</type></header>
  <search>
    <requestFormat>${contentNamespace}</requestFormat>
    <responseFormat start='0' limit='1'>${contentNamespace}</responseFormat>
    <filter>
      <equals path='${titleConcept}'>${datasetTitle}</equals>
    </filter>
    <count>true</count>
  </search>
</request>
