<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.identity.mybatis.SessionMapper" >

  <resultMap id="SESSION_MAP" type="Session" >
    <id column="session" property="session" />
    <result column="username" property="userName" />
    <result column="hostname" property="hostname" />
    <result column="created" property="created" />
  </resultMap>

  <sql id="SESSION_FIELDS">
    username,session,hostname,created
  </sql>

  <sql id="WRITABLE_SESSION_FIELD_TYPES">
    #{userName,jdbcType=VARCHAR},
    #{session,jdbcType=VARCHAR},
    #{hostname,jdbcType=VARCHAR},
    now() <!-- created -->
  </sql>

  <insert id="create" parameterType="User">
    INSERT INTO session(<include refid="SESSION_FIELDS"/>)
    VALUES(<include refid="WRITABLE_SESSION_FIELD_TYPES"/>)
  </insert>

  <select id="list" resultMap="SESSION_MAP" parameterType="java.lang.String">
    SELECT <include refid="SESSION_FIELDS"/>
    FROM session
    WHERE username = #{x}
  </select>

  <select id="delete" parameterType="java.lang.String">
    DELETE FROM session
    WHERE session = #{x}
  </select>

  <select id="deleteAll" parameterType="java.lang.String">
    DELETE FROM session
    WHERE username = #{x}
  </select>
</mapper>
